{% extends "templates/print.twig" %}
{% block sadrzaj %}
<h2 class="uk-text-primary">
  Pregled dugovanja<br>
  {{ staraoc.punoIme() | upper }} [1/{{ staraoc.karton().brojAktivnihStaraoca() }}]<br>
  {{ staraoc.karton().broj() }} [broj grobnih mesta: {{ staraoc.karton().broj_mesta }}]
</h2>
<hr>
<table class="prn-table">
  <tbody>
    <tr>
      <th class="w-30 prn-text-left">Dug za takse</th>
      <td class="w-70 prn-text-right">
        <ol>
          {% for taksa in staraoc.zaduzeneTakse() %}
          	<li>
		  	za godinu <strong>{{ taksa.godina }}.</strong> - glavnica {{ taksa.zaRazduzenje().glavnica | number_format(2, '.', ',') }} din;
			kamata {{ taksa.zaRazduzenje().kamata | number_format(2, '.', ',') }} din;
			ukupno <strong>{{ taksa.zaRazduzenje().ukupno | number_format(2, '.', ',') }} din</strong>
			</li>
          {% endfor %}
        </ol>
      </td>
    </tr>
    <tr>
      <th class="prn-text-right">Ukupno za takse</th>
      <td class="prn-text-right"><strong>{{ staraoc.dugZaTakse() | number_format(2, '.', ',') }}</strong> din</td>
    </tr>
    <tr>
      <th class="prn-text-left">Dug za zakup</th>
      <td class="prn-text-right">
        <ol>
          {% for zakup in staraoc.zaduzeniZakupi() %}
            za godinu <strong>{{ zakup.godina }}.</strong> - glavnica {{ zakup.zaRazduzenje().glavnica | number_format(2, '.', ',') }} din;
			kamata {{ zakup.zaRazduzenje().kamata | number_format(2, '.', ',') }} din;
			ukupno <strong>{{ zakup.zaRazduzenje().ukupno | number_format(2, '.', ',') }} din</strong>
          {% endfor %}
        </ol>
      </td>
    </tr>
    <tr>
      <th class="prn-text-right">Ukupno za zakup</th>
      <td class="prn-text-right"><strong>{{ staraoc.dugZaZakupe() | number_format(2, '.', ',') }}</strong> din</td>
    </tr>
    <tr>
      <th class="prn-text-left">Dug za račune</th>
      <td class="prn-text-right">
        <ol>
          {% for racun in staraoc.zaduzeniRacuni() %}
          	<li>
		  		račun broj {{ racun.broj }} od {{ racun.datum() }} u iznosu od {{ racun.iznos | number_format(2, '.', ',') }} din<br>
				glavnica {{ racun.zaRazduzenje().glavnica | number_format(2, '.', ',') }} din;
				kamata {{ racun.zaRazduzenje().kamata | number_format(2, '.', ',') }} din;
				ukupno <strong>{{ racun.zaRazduzenje().ukupno | number_format(2, '.', ',') }} din</strong>
			</li>
          {% endfor %}
        </ol>
      </td>
    </tr>
    <tr>
      <th class="prn-text-right">Ukupno za račune</th>
      <td class="prn-text-right"><strong>{{ staraoc.dugZaRacune() | number_format(2, '.', ',') }}</strong> din</td>
    </tr>
    <tr>
      <th class="prn-text-left">Dug za reprograme</th>
      <td class="prn-text-right">
        <ol>
          {% for rep in karton.nerazduzeniReprogrami() %}
          <li>za reprogram broj {{ rep.broj }} od {{ rep.datum() }} u iznosu od
            {{ rep.dug()|number_format(2, '.', ',') }} din</li>
          {% endfor %}
        </ol>
      </td>
    </tr>
    <tr>
      <th class="prn-text-right">Ukupno za reprograme</th>
      <td class="prn-text-right"><strong>{{ karton.dugZaReprograme()|number_format(2, '.', ',') }}</strong> din</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th class="prn-text-left">Ukupan dug</th>
      <td class="prn-text-right"> <strong> {{ staraoc.ukupanDug() | number_format(2, '.', ',') }} </strong> din</td>
    </tr>
  </tfoot>
</table>
{% endblock sadrzaj %}
