{% extends "templates/print.twig" %}
{% block sadrzaj %}
<h1>Pregled dugovanja za karton <em>[ {{ karton.broj() }} ]</em></h1>
<hr>
<table>
  <tbody>
    <tr>
      <th>Dug za takse</th>
      <td>{{ karton.dugZaTakse()|number_format(2, '.', ',') }}</td>
    </tr>
    <tr>
      <th>Dug za zakupe</th>
      <td>{{ karton.dugZaZakupe()|number_format(2, '.', ',') }}</td>
    </tr>
    <tr>
      <th>Dug za račune</th>
      <td>{{ karton.dugZaRacune()|number_format(2, '.', ',') }}</td>
    </tr>
    <tr>
      <th>Dug za reprograme</th>
      <td>{{ karton.dugZaReprograme()|number_format(2, '.', ',') }}</td>
    </tr>
  </tbody>

  <tfoot>
    <tr>
      <th>Ukupan dug</th>
      <td>{{ karton.dug()|number_format(2, '.', ',') }}</td>
    </tr>
  </tfoot>
</table>
{% endblock sadrzaj %}
