{% extends "templates/app.twig" %}

{% block naslov %}
<h1 class="uk-text-primary">
	Dodavanje dokumenta za karton <small><em class="uk-text-success">[{{ karton.broj() }}]</em></small>
</h1>

<form action="{{ path_for('dokumenti.dodavanje.post') }}" method="POST" id="forma_dodavanje_dokumenta" enctype="multipart/form-data"
	class="uk-form-stacked" uk-grid>
	{{ csrf|raw }}
	<input type="hidden" name="karton_id" id="karton_id" value="{{ karton.id }}">

	<div class="uk-width-1-6">
		<label for="tip" class="uk-form-label">Tip dokumenta</label>
		<div class="uk-form-controls">
			<select name="tip" id="tip" class="uk-select{{ errors.tip[0] ? ' uk-form-danger': ''}}" required>
				{% for tip in tipovi %}
				<option value="{{ tip }}" {{ old.tip == tip ? ' selected' : '' }}>{{ tip }}</option>
				{% endfor %}
			</select>
		</div>
		<small class="uk-text-danger">{{ errors.tip[0] ? :'' }}</small>
	</div>

	<div class="uk-width-1-6">
		<label for="datum" class="uk-form-label">Datum</label>
		<div class="uk-form-controls">
			<input type="date" name="datum" id="datum" value="{{ old.datum ? : 'now'|date('Y-m-d') }}"
				class="uk-input{{ errors.datum[0] ? ' uk-form-danger': ''}}" autocomplete="off" required>
		</div>
		<small class=" uk-text-danger">{{ errors.datum[0] ? : '' }}</small>
	</div>

	<div class="uk-width-1-2">
		<label for="opis" class="uk-form-label">Naziv</label>
		<div class="uk-form-controls">
			<input type="text" name="opis" id="opis" value="{{ old.opis ? : '' }}"
				class="uk-input{{ errors.opis[0] ? ' uk-form-danger': ''}}" required>
		</div>
		<small class="uk-text-danger">{{ errors.opis[0] ? :'' }}</small>
	</div>

	<div class="uk-width-1-6">
		<label for="dodavanje_dokumenta" class="uk-form-label">Dokument</label>
		<div uk-form-custom id="dodavanje_dokumenta">
			<input type="file" name="dokument" id="dokument">
			<button class="uk-button uk-button-default" type="button" tabindex="-1">
				Odaberi novi dokument <span uk-icon="file-pdf"></span>
			</button>
		</div>
		<small class="uk-text-warning" id="filename">Dokument za prosleđivanje nije odabran !!!</small>
	</div>
	<div class="uk-button-group uk-width-1-6">
		<input class="uk-button uk-button-primary uk-width-1-2" type="submit" value="Snimi">
		<a href="{{ path_for('kartoni.pregled',{'id' : karton.id}) }}" class="uk-button uk-button-secondary uk-width-1-2">
			Otkaži
		</a>
	</div>
</form>

{% endblock naslov %}

{% block skripta %}
	<script type="text/javascript">
		document.getElementById('dokument').onchange = uploadOnChange;
		var fajl = document.getElementById('filename');

		function uploadOnChange() {
		  var filename = this.value;
		  var lastIndex = filename.lastIndexOf("\\");
		  if (lastIndex >= 0) {
		    filename = filename.substring(lastIndex + 1);
		  }
		  fajl.classList.remove("uk-text-warning");
		  fajl.classList.add("uk-text-success");
		  fajl.innerHTML = "Odabran je dokument - " + filename;
		}
	</script>
{% endblock skripta %}