{% extends "templates/app.twig" %}

{% block naslov %}
<h1>Izmena podataka o gorblju</h1>
<hr>
<form action="{{ path_for('groblja.izmena.post') }}" method="POST" class="uk-form-stacked">
	{{ csrf|raw }}
	<input type="hidden" value="{{ groblje.id }}" name="id" id="id">
	<div uk-grid>
	<div class="uk-width-1-4">
		<label for="naziv" class="uk-form-label">Naziv</label>
		<div class="uk-form-controls">
			<input type="text" name="naziv" id="naziv" class="uk-input{{ errors.naziv[0] ? ' uk-form-danger': ''}}" value="{{ old.naziv ? : groblje.naziv }}"
			 autocomplete="off" required>
		</div>
		<small class="uk-text-danger">{{ errors.naziv[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-4">
		<label for="adresa" class="uk-form-label">Adresa</label>
		<div class="uk-form-controls">
			<input type="text" name="adresa" id="adresa" value="{{ old.adresa ? : groblje.adresa }}" class="uk-input{{ errors.adresa[0] ? ' uk-form-danger': ''}}"
			 autocomplete="off" required>
		</div>
		<small class="uk-text-danger">{{ errors.adresa[0] ? :'' }}</small>
	</div>

	<div class="uk-width-1-4">
		<label for="mesto" class="uk-form-label">Mesto</label>
		<div class="uk-form-controls">
			<input type="text" name="mesto" id="mesto" value="{{ old.mesto ? : groblje.mesto }}" class="uk-input{{ errors.mesto[0] ? ' uk-form-danger': ''}}"
			 autocomplete="off" required>
		</div>
		<small class="uk-text-danger">{{ errors.mesto[0] ? :'' }}</small>
	</div>
		<div class="uk-width-1-4">
		<label for="ptt" class="uk-form-label">Poštanski broj</label>
		<div class="uk-form-controls">
			<input type="text" name="ptt" id="ptt" value="{{ old.ptt ? : groblje.ptt }}" class="uk-input{{ errors.ptt[0] ? ' uk-form-danger': ''}}"
			 autocomplete="off" required>
		</div>
		<small class="uk-text-danger">{{ errors.ptt[0] ? :'' }}</small>
	</div>
	</div>
	<div uk-grid>
	<div class="uk-button-group uk-width-1-5">
		<button class="uk-button uk-button-primary uk-width-1-2"><span uk-icon="check"></span> Snimi</button>
		<a href="{{ path_for('groblja') }}" class="uk-button uk-button-secondary uk-width-1-2">
			<span uk-icon="ban"></span> Otkaži
		</a>
	</div>
</div>
</form>
{% endblock naslov %}
