{% extends "templates/app.twig" %}

{% block sadrzaj %}
<h1 id="top">Uputstvo za korišćenje programa</h1>
<hr>
<h2>Kartoni</h2>
<h3 id="pregled">Pregled svih kartona</h3>
<p>
    Biranjem stavke menija <code>KARTONI</code> korisnik dobija pregled svih kartona.
</p>
<figure>
    <img data-src="{{ base_url() }}/img/help/meni_auth_kartoni.png" alt="Meni - kartoni" uk-img>
    <figcaption>Slika 1. Meni - kartoni</figcaption>
</figure>
<figure>
    <img data-src="{{ base_url() }}/img/help/kartoni.png" alt="Ekran - kartoni" uk-img>
    <figcaption>Slika 2. Ekran - kartoni</figcaption>
</figure>
<h3 id="pretraga">Pretraživanje kartona</h3>
<p>
    Na ekranu kartoni vrši se pretraga (filtriranje) kartona po tri parametra: groblju, parceli i grobnom mestu. Unosom
    bilo koje kombinacije ovatri parametra i kljikom na dugme <code>FILTRIRAJ</code> prelazi se na ekran koji je skoro identičan
    ekranu sa svim kartonima s tom razlikom sto sardži samo one kartone koji odgovaraju zadatim parametrima.
</p>
<figure>
    <img data-src="{{ base_url() }}/img/help/kartoni_pretraga.png" alt="Ekran - kartoni pretraga" uk-img>
    <figcaption>Slika 3. Ekran - kartoni pretraga</figcaption>
</figure>
<figure>
    <img data-src="{{ base_url() }}/img/help/kartoni_filter.png" alt="Ekran - filtrirani kartoni" uk-img>
    <figcaption>Slika 4. Ekran - filtrirani kartoni</figcaption>
</figure>
<h3 id="dodavanje">Dodavanje novog kartona</h3>
<p>
    Sa ekrana kartoni može se dodati novi karton klikom na dugme <code>DODAJ KARTON</code> čime se prelazi na ekran za dodavanje novog
    kartona.
</p>
<figure>
    <img data-src="{{ base_url() }}/img/help/kartoni_dodavanje_dugme.png" alt="Dugme za dodavanje novog kartona" uk-img>
    <figcaption>Slika 5. Dugme za dodavanje novog kartona</figcaption>
</figure>
<p>
    Nakon popunjavanja svih obaveznih polja karton će biti sačuvan tek nakon klika na dugme <code>SNIMI</code> U slučaju da neko od obaveznih polja nije popunjeno to će biti vidno naglašeno. U slučaju da smo se predomislili ili nemamo sve neophodne podatke klikom na dugme <code>OTKAŽI</code> otkazujemo kreiranje/dodavanje novog kartona.
</p>
<figure>
    <img data-src="{{ base_url() }}/img/help/kartoni_dodavanje.png" alt="Ekran - dodavanje novog kartona" uk-img>
    <figcaption>Slika 6. Ekran - dodavanje novog kartona</figcaption>
</figure>
<h3 id="detaljno">Detaljni pregled kartona</h3>
<p>
    Sa ekrana kartoni moguće je pristupiti detaljnom pregledu kartona i to klikom na ikonu <span class="uk-text-danger" uk-icon="search"></span> koja se nalazi krajne desno u poslednjoj koloni tabelarnog pregleda.
</p>
<figure>
    <img data-src="{{ base_url() }}/img/help/karton_detaljno_dugme.png" alt="Dugme za pristup detaljnom pregledu kartona" uk-img>
    <figcaption>Slika 7. Dugme za pristup detaljnom pregledu kartona</figcaption>
</figure>
<p>
    Na ovom ekranu se nalaze svi podaci u vezi kartona kao i pregled skenirane dokumentacije. Tu su dakle, pored osnovnih i podaci o pokojnicima i staraocima. Sa ovog ekrana je takođe moguće pristupiti izmeni, brisanju kartona kao i dodavanju, pregledu i uklanjanju staraoca, pokojnika kao i skenirane dokumentacije. Omogućen je i pristup lokaciji(mapi) i transakcijama vezanim za karton.
</p>
<figure>
    <img data-src="{{ base_url() }}/img/help/karton_detaljno.png" alt="Detaljni pregled kartona" uk-img>
    <figcaption>Slika 8. Ekran - detaljni pregled kartona</figcaption>
</figure>
<h3 id="brisanje">Brisanje kartona</h3>
<p>
    Brisanje kartona se obavlja sa ekrana detaljni pregled kartona i to klikom na dugme <code>OBRIŠI KARTON</code> a zatim potvrdom svoje odluke na prikazanom modalu <em>(slika 10.)</em>
</p>
<div uk-grid>
    <div class="uk-width-1-2">
<figure>
    <img data-src="{{ base_url() }}/img/help/karton_brisanje_dugme.png" alt="Dugme za brisanje kartona" uk-img>
    <figcaption>Slika 9. Dugme za brisanje kartona</figcaption>
</figure>
    </div>
    <div class="uk-width-1-2">
<figure>
    <img data-src="{{ base_url() }}/img/help/modal_bris_kartona.png" alt="Modal potvrde brisanja" uk-img>
    <figcaption>Slika 10. Modal potvrde brisanja</figcaption>
</figure>
    </div>
</div>
<small class="uk-text-warning uk-margin-top">NAPOMENA: Nije moguće obrisati kartone za koje su vezani (u kojima postoje) staraoci, pokojnici, skenirana dokumentacija ili raspored. Potrebno je prvo njih ukloniti a zatim obrisati i sam karton.</small>
<h3 id="izmena">Izmena podataka kartona</h3>
<p>
    Sa ekrana detaljnog pregleda kartona klikom na dugme <code>IZMENI</code> otvara se ekran na kojem je moguće izmeniti neki od osnovnih podata kartona.
</p>
<figure>
    <img data-src="{{ base_url() }}/img/help/karton_izmeni_dugme.png" alt="Dugme za pristup izmeni podataka kartona" uk-img>
    <figcaption>Slika 11. Dugme za pristup izmeni podataka kartona</figcaption>
</figure>
<p>
    Nakon izvršenih korekcija potrebno je kliknuti na dugme <code>SNIMI</code> da bi sačuvali izmene.
</p>
<figure>
    <img data-src="{{ base_url() }}/img/help/izmena_kartona.png" alt="Ekran izmene podataka kartona" uk-img>
    <figcaption>Slika 12. Ekran izmene podataka kartona</figcaption>
</figure>
<h3 id="mapa">Mapa/lokacija grobnog mesta iz kartona</h3>
<p>
    Sa ekrana detaljnog pregleda kartona klikom na dugme <code>MAPA</code> otvara se ekran na kojem je prikazana mapa parcele i pozicija grobnog mesta.
</p>
<figure>
    <img data-src="{{ base_url() }}/img/help/karton_izmeni_dugme.png" alt="Dugme za pristup mapi/lokaciji grobnog mesta" uk-img>
    <figcaption>Slika 12. Dugme za pristup mapi/lokaciji grobnog mesta</figcaption>
</figure>
<figure>
    <img data-src="{{ base_url() }}/img/help/mapa_karton.png" alt="Ekran sa prikazom pozicije grobnog mesta" uk-img>
    <figcaption>Slika 13. Ekran sa prikazom pozicije grobnog mesta</figcaption>
</figure>
{% endblock sadrzaj %}

{% block traka %}
<div uk-sticky="offset: 60" class="uk-sticky uk-active uk-sticky-fixed uk-sticky-below" style="position: fixed; top: 60px; width: 100px;">
    <ul uk-scrollspy-nav="closest: li; scroll: true; offset: 60" class="uk-nav uk-nav-default uk-nav-parent-icon uk-padding-large">
        <li><a href="{{ path_for('uputstvo') }}"><span uk-icon="question"></span> Uputstvo</a></li>
        <li><a href="{{ path_for('uputstvo.kartoni') }}"><span uk-icon="file"></span> Kartoni</a></li>
        <li><a href="{{ path_for('uputstvo.staraoci') }}"><span uk-icon="users"></span> Staraoci</a></li>
        <li><a href="{{ path_for('uputstvo.pokojnici') }}"><span uk-icon="plus"></span> Pokojnici</a></li>
        <li><a href="{{ path_for('uputstvo.transakcije') }}"><span uk-icon="credit-card"></span> Transakcije</a></li>
        <li><a href="{{ path_for('uputstvo.admin') }}"><span uk-icon="database"></span> Administracija</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#pregled">Pregled svih kartona</a></li>
        <li><a href="#pretraga">Pretraživanje kartona</a></li>
        <li><a href="#dodavanje">Dodavanje novog kartona</a></li>
        <li><a href="#detaljno">Detaljni pregled kartona</a></li>
        <li><a href="#brisanje">Brisanje kartona</a></li>
        <li><a href="#izmena">Izmena podata kartona</a></li>
        <li><a href="#mapa">Mapa/lokacija grobnog mesta iz kartona</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#top"><span uk-icon="arrow-up"></span> Vrh strane</a></li>
    </ul>
</div>
{% endblock traka %}