{% extends "templates/app.twig" %}

{% block sadrzaj %}
{% if danasnji %}
<div class="uk-card uk-card-default uk-card-body uk-margin-top uk-padding-small">
		<h3 class="uk-card-title">Današnji termini:</h3>
		<ul class="uk-list uk-list-striped">
	{% for termin in danasnji %}
		<li>početak {{ termin.start|date('H:i') }}, kraj {{ termin.end|date('H:i') }}, {{ termin.karton().broj() }} <strong>{{ termin.pokojnik().ime }} {{ termin.pokojnik().prezime }}</strong> </li>
	{% endfor %}
	</ul>
</div>
{% else %}
	<h3 class="uk-panel uk-background-muted uk-margin-top uk-padding-small">Danas nema zakazanih termina.</h3>
{% endif %}
{% endblock sadrzaj %}
{% block traka %}
		<div class="uk-text-center">
	<img src="{{ base_url() }}/img/jkp_sumadija.jpg" alt="JKP Sumadija Kragujevac" height="300" width="300">
</div>
{% endblock traka %}