{% extends "templates/app.twig" %}

{% block sadrzaj %}
<h1 class="uk-heading-divider">
  Mapa kartona {{x_pozicija}} {{y_pozicija}}
  <span class="success-text"><small><em>[{{ karton.broj() }}]</em></small></span>
</h1>

<div class="uk-panel uk-background-muted uk-padding-small">
  <div class="uk-clearfix">
    <div class="uk-float-left">
      <div class="uk-button-group">
        <button onclick="window.history.back();" class="uk-button uk-button-primary uk-button-small">
          <span uk-icon="chevron-left"></span> Nazad
        </button>
        <a href="{{ path_for('kartoni') }}" class="uk-button uk-button-primary uk-button-small">
          <span uk-icon="chevron-double-left"></span> SVI Kartoni
        </a>
      </div>
    </div>
  </div>
</div>
{% if mapa %}
<div style="max-height: 800px; max-width:1200px; overflow: scroll;" class="uk-margin">
    <canvas id="canvas" width="100%" height="100%" class="uk-preserve-width"></canvas>
</div>
{% else %}
<h3>Ne postoji mapa za ovo groblje i pripadajuće parcele!</h3>
{% endif %}    
{% endblock sadrzaj %}

{% block traka %}
<div class="uk-card uk-card-default uk-card-body uk-margin-top">
    <h3 class="uk-card-title">Podaci iz kartona</h3>

    <ul class="uk-list uk-list-striped">
    <li><strong>Groblje:</strong> {{ karton.groblje().naziv }}</li>
    <li><strong>Parcela:</strong> {{ karton.parcela }}</li>
    <li><strong>Grobno mesto:</strong> {{ karton.grobno_mesto }}</li>
    <li><strong>Broj mesta:</strong> {{ karton.broj_mesta }}</li>
    <li><strong>Tip groba:</strong> {{ karton.tip_groba }}</li>
    <li><strong>Aktivan karton:</strong> {{ karton.aktivanDisabled() | raw }}</li>
    <article class="uk-article uk-margin-top">
    <h4>Napomene:</h4>
    <p class="uk-article-meta">{{ karton.napomena | nl2br }}</p>
</article>
</ul>
</div>

<p class="uk-margin-top uk-text-center">Trenutna x koordinata grobnog mesta: <span class="uk-badge">{{ karton.x_pozicija }}</span></p>
<p class="uk-margin-top uk-text-center">Trenutna y koordinata grobnog mesta: <span class="uk-badge">{{ karton.y_pozicija }}</span></p>

<form action="{{path_for('kartoni.mapa.dodavanje')}}" method="POST" class="uk-background-muted uk-margin-top uk-padding-small">
    {{ csrf|raw }}
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">Postavljanje novih koordinata</legend>

        <div class="uk-margin">
            <legend for="x_pozicija">X koordinata:</legend>
            <input type="number" name="x_pozicija" id="x_pozicija" class="form-control" autocomplete="off" >
        </div>

        <div class="uk-margin">
            <legend for="y_pozicija">Y koordinata:</legend>
            <input type="number" name="y_pozicija" id="y_pozicija" class="form-control" autocomplete="off" >
        </div>

        <input type="hidden" name="id_kartona" id="id_kartona" class="form-control" value="{{ karton.id }}">
        <hr class="uk-margin">
        <div class="uk-margin uk-float-right">
            <input type="submit" value="Sačuvaj" class="uk-button uk-button-primary uk-button-small">
            <a href="{{ path_for('kartoni.mapa', { 'id': karton.id })}}" class="uk-button uk-button-secondary uk-button-small">Otkaži</a>
        </div>

    </fieldset>
</form>
{% endblock traka %}

{% block skripta %}
<script>
var canvas = document.getElementById("canvas");
if (canvas) {
ctx = canvas.getContext("2d");
var mapa = ["{{mapa}}"];
canvas.width = ["{{sirina}}"];
canvas.height = ["{{visina}}"];

var background = new Image();
background.src = "../../img/Mape/"+mapa;

var x_osa = {{ karton.x_pozicija|json_encode() }};
var y_osa = {{ karton.y_pozicija|json_encode() }};
var g = ["{{ grobno_mesto}}"];

document.getElementById('canvas').onclick = function getCursorPosition(event){
    var rect = canvas.getBoundingClientRect();
    var x_zaBazu = parseInt(event.clientX - rect.left);
    var y_zaBazu = parseInt(event.clientY - rect.top);

    document.getElementById("x_pozicija").value = x_zaBazu;
    document.getElementById("y_pozicija").value = y_zaBazu;
}

background.onload = function(){
    ctx.drawImage(background,0,0);

    var radius = 7;
    var period = 2000;
    

        ctx.beginPath();
        ctx.arc(x_osa, y_osa, radius, 0, 2 * Math.PI, false);
        ctx.lineWidth = 2;
        ctx.strokeStyle = '#C20D31';
        ctx.stroke();
        ctx.fillStyle = '#C20D31';
        ctx.fill();
        ctx.textAlign = "center";
        ctx.textBaseline="top";
        ctx.font = "16px Arial";
        ctx.fillText(g, x_osa, y_osa + 2*radius);
  };}
</script>
{% endblock skripta %}
