{% extends "templates/app.twig" %}

{% block sadrzaj %}
<h1 class="uk-text-primary">
  Karton <small><em class="uk-text-success">[{{ karton.broj() }}]</em></small>
</h1>
<div class="uk-panel uk-background-muted uk-padding-small">
  <div class="uk-clearfix">
    <div class="uk-float-left">
      <div class="uk-button-group">
        <a href="{{ path_for('kartoni') }}" class="uk-button uk-button-primary uk-button-small">
          <span uk-icon="chevron-left"></span> Nazad
        </a>
        <a href="{{ path_for('kartoni') }}" class="uk-button uk-button-primary uk-button-small">
          <span uk-icon="chevron-double-left"></span> SVI Kartoni
        </a>
      </div>
    </div>
    <div class="uk-float-right">
      <div class="uk-button-group">
        <a href="{{ path_for('transakcije.karton',{'id':karton.id}) }}"
          class="uk-button uk-button-primary uk-button-small">
          <span uk-icon="credit-card"></span> Transakcije
        </a>
        <a href="{{ path_for('kartoni.izmena', { 'id': karton.id }) }}"
          class="uk-button uk-button-secondary uk-button-small">
          <span uk-icon="pencil"></span> Izmeni karton
        </a>
        <a class="uk-button uk-button-danger uk-button-small" href="#modal-brisanje" uk-toggle>
          <span uk-icon="trash"></span> Obriši karton
        </a>
        <a href="{{ path_for('kartoni.mapa', { 'id': karton.id }) }}"
          class="uk-button uk-button-primary uk-button-small">
          <span uk-icon="location"></span> Mapa
        </a>
      </div>
    </div>
  </div>
</div>

<!-- MODAL BRISANJE -->
{% include 'inc/karton_brisanje.twig' %}

<div class="uk-panel uk-background-secondary uk-text-white uk-padding-small uk-margin-small-top">
  <div class="uk-flex uk-flex-between">
    <div>
      <strong>Groblje:</strong> {{ karton.groblje().naziv }}
    </div>
    <div>
      <strong>Parcela:</strong> {{ karton.parcela }}
    </div>
    <div>
      <strong>Grobno mesto:</strong> {{ karton.grobno_mesto }}
    </div>
    <div>
      <strong>Broj mesta:</strong> {{ karton.broj_mesta }}
    </div>
    <div>
      <strong>Tip groba:</strong> {{ karton.tip_groba }}
    </div>
    <div>
      <strong>Aktivan:</strong> {{ karton.aktivan == 1 ? 'DA' : 'NE' }}
    </div>
    <div>
      <strong>Stanje:</strong> {{ karton.stanje|number_format(2, '.', ',') }}
    </div>
  </div>
  <div class="uk-flex uk-flex-between uk-margin-small-top">
    <div class="uk-width-1-6">
      <strong>Napomene:</strong><br>
    </div>
    <div class="uk-width-5-6">
      {{ karton.napomena | nl2br }}<br>
    </div>
  </div>
</div>
<hr class="uk-margin-large">
<div class="uk-clearfix">
  <div class="uk-float-left">
    <h2 class="uk-text-danger">
      Staraoci
      <a href="{{ path_for('staraoci') }}"><span uk-icon="link"></span></a>
    </h2>
  </div>
  <div class="uk-float-right uk-margin-small-top">
    <a href="{{ path_for('staraoci.dodavanje', {id:karton.id}) }}"
      class="uk-button uk-button-primary uk-button-small">Dodaj staraoca</a>
  </div>
</div>
<div class="uk-overflow-auto">
  <table class="uk-table uk-table-divider uk-table-striped uk-table-hover uk-table-small">
    <thead>
      <tr>
        <th class="w-5">Id</th>
        <th class="w-5">RB</th>
        <th class="w-20">Ime</th>
        <th class="w-15">JMBG</th>
        <th class="w-20">Adresa</th>
        <th class="w-15">Telefon</th>
        <th class="w-5">Aktivan</th>
        <th class="w-5">Prenos</th>
        <th class="w-10 uk-text-right"><span uk-icon="cog"></span></th>
      </tr>
    </thead>
    <tbody>
      {% for st in karton.staraoci() %}
      <tr>
        <td><em>{{ st.id }}</em></td>
        <td>{{ st.redni_broj }}</td>
        <td>{{ st.punoIme() }}</td>
        <td>{{ st.jmbg }}</td>
        <td>{{ st.adresa() }}</td>
        <td>{{ st.telefon }}</td>
        <td>{{ st.aktivanDisabled()|raw }}</td>
        <td>{{ st.prenosDisabled()|raw }}</td>
        <td class="uk-clearfix">
          <ul class="uk-iconnav uk-float-right">
            <li>
              <a href="{{ path_for('staraoci.izmena',{id:st.id}) }}" title="Izmena">
                <span uk-icon="pencil"></span>
              </a>
            </li>
            <li>
              <a title="Brisanje" href="#modal-brisanje-staraoca" data-id="{{ st.id }}" onclick="setStarId(this);"
                uk-toggle>
                <span uk-icon="trash"></span>
              </a>
            </li>
          </ul>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- MODAL BRISANJE STARAOCA -->
{% include 'inc/staraoc_brisanje.twig' %}

<hr class="uk-margin-large">
<div class="uk-clearfix">
  <div class="uk-float-left">
    <h2>
      Pokojnici
      <a href="{{ path_for('pokojnici') }}"><span uk-icon="link"></span></a>
    </h2>
  </div>
  <div class="uk-float-right uk-margin-small-top">
    <a href="{{ path_for('pokojnici.dodavanje',{'id':karton.id}) }}"
      class="uk-button uk-button-primary uk-button-small">Dodaj pokojnika</a>
  </div>
</div>
<div class="uk-overflow-auto">
  <table class="uk-table uk-table-divider uk-table-striped uk-table-hover uk-table-small">
    <thead>
      <tr>
        <th class="w-5">Id</th>
        <th class="w-5">RB</th>
        <th class="w-25">Ime</th>
        <th class="w-15">JMBG</th>
        <th class="w-20">Mesto</th>
        <th class="w-5">Datum rođenja</th>
        <th class="w-5">Datum smrti</th>
        <th class="w-5">Datum sahrane</th>
        <th class="w-5">Datum ekshumacije</th>
        <th class="w-10 uk-text-right"><span uk-icon="cog"></span></th>
      </tr>
    </thead>
    <tbody>
      {% for pok in karton.pokojnici() %}
      <tr>
        <td><em>{{ pok.id }}</em></td>
        <td>{{ pok.redni_broj }}</td>
        <td>{{ pok.punoIme() }}</td>
        <td>{{ pok.jmbg }}</td>
        <td>{{ pok.mesto }}</td>
        <td>{{ pok.datum_rodjenja() }}</td>
        <td>{{ pok.datum_smrti() }}</td>
        <td>{{ pok.datum_sahrane() }}</td>
        <td>{{ pok.datum_ekshumacije() }}</td>
        <td class="uk-clearfix">
          <ul class="uk-iconnav uk-float-right">
            <li>
              <a href="{{ path_for('pokojnici.izmena',{'id':pok.id}) }}" title="Izmena">
                <span uk-icon="pencil"></span>
              </a>
            </li>
            <li>
              <a title="Brisanje" href="#modal-brisanje-pokojnika" data-id="{{ pok.id }}" onclick="setPokId(this);"
                uk-toggle>
                <span uk-icon="trash"></span>
              </a>
            </li>
          </ul>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<!-- MODAL BRISANJE STARAOCA -->
{% include 'inc/pokojnik_brisanje.twig' %}
{% endblock sadrzaj %}

{% block traka %}
<div class="uk-clearfix uk-margin-small-top">
  <div class="uk-float-left">
    <h2 class="uk-text-primary">Dokumenti</h2>
  </div>
  <div class="uk-float-right uk-margin-small-top">
    <a class="uk-button uk-button-primary uk-button-small"
      href="{{ path_for('dokumenti.dodavanje', { 'id': karton.id }) }}">
      Dodaj dokument
    </a>
  </div>
</div>
<div class="uk-overflow-auto">
  <table class="uk-table uk-table-divider uk-table-striped uk-table-hover uk-table-small">
    <thead>
      <tr>
        <th class="w-15">Tip</th>
        <th class="w-20">Datum</th>
        <th class="w-45">Opis</th>
        <th class="w-20 uk-text-right"><span uk-icon="cog"></span></th>
      </tr>
    </thead>
    <tbody>
      {% for dok in karton.dokumenti() %}
      <tr>
        <td>
          <em>{{ dok.tip }}</em>
        </td>
        <td>{{ dok.datum() }}</td>
        <td>{{ dok.opis | nl2br }}</td>
        <td class="uk-clearfix">
          <ul class="uk-iconnav uk-float-right">
            <li>
              <a href="{{ dok.veza }}" title="Pregled" target="_blank"><span uk-icon="search"></span></a>
            </li>
            <li>
              <a href="{{ path_for('dokumenti.izmena', { 'id': dok.id }) }}" title="Izmena"><span
                  uk-icon="pencil"></span></a>
            </li>
            <li>
              <a href="#modal-brisanje-dokumenta" title="Brisanje" data-id="{{ dok.id }}" onclick="setDocId(this);"
                uk-toggle>
                <span uk-icon="trash"></span>
              </a>
            </li>
          </ul>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<hr class="uk-divider-icon uk-margin-large">
<h3>Termini</h3>
<div class="uk-overflow-auto">
  <table class="uk-table uk-table-divider uk-table-striped uk-table-hover uk-table-small">
    <thead>
      <tr>
        <th class="w-15">ID</th>
        <th class="w-30">Početak</th>
        <th class="w-35">Opis</th>
        <th class="w-20 uk-text-right"><span uk-icon="cog"></span></th>
      </tr>
    </thead>
    <tbody>
      {% for ter in termini %}
      <tr>
        <td>
          <em>{{ ter.id }}</em>
        </td>
        <td>{{ ter.pocetak() }}</td>
        <td>{{ ter.title }}</td>
        <td class="uk-clearfix">
          <ul class="uk-iconnav uk-float-right">
            <li>
              <a href="{{ path_for('raspored.izmena', { 'id': ter.id }) }}" title="Izmena"><span
                  uk-icon="pencil"></span></a>
            </li>
            <li>
              <a href="#modal-brisanje-dokumenta" title="Brisanje" data-id="{{ dok.id }}" onclick="setDocId(this);"
                uk-toggle>
                <span uk-icon="trash"></span>
              </a>
            </li>
          </ul>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<!-- MODAL BRISANJE -->
{% include 'inc/dokument_brisanje.twig' %}
{% include 'inc/termin_brisanje.twig' %}

{% endblock traka %}

{% block skripta %}
<script>
  document.getElementById("modal_dugme_brisi").addEventListener("click", function () {
    document.getElementById("forma_brisanje").submit();
  });
  document.getElementById("modal_dugme_brisi_dokument").addEventListener("click", function () {
    document.getElementById("forma_brisanje_dokumenta").submit();
  });
  document.getElementById("modal_dugme_brisi_staraoca").addEventListener("click", function () {
    document.getElementById("forma_brisanje_staraoca").submit();
  });
  document.getElementById("modal_dugme_brisi_pokojnika").addEventListener("click", function () {
    document.getElementById("forma_brisanje_pokojnika").submit();
  });

  function setDocId(el) {
    document.getElementById("modal_dokument_id").value = el.dataset.id;
  }

  function setStarId(el) {
    document.getElementById("modal_staraoc_id").value = el.dataset.id;
  }

  function setPokId(el) {
    document.getElementById("modal_pokojnik_id").value = el.dataset.id;
  }
</script>
{% endblock skripta %}
