{% extends "templates/app.twig" %}

{% block naslov %}
<h1 class="primary-text">
    Kartoni
    {% if data %}
    <small class="warning-text">
        <em>[filtrirano]</em>
    </small>
    {% else %}
    <small class="success-text">
        <em>[svi kartoni]</em>
    </small>
    {% endif %}

</h1>

<div class="well">
    <form action="{{ path_for('kartoni.pretraga') }}" method="POST">
        {{ csrf|raw }}
        <div class="flex-row">
            <div class="flex-col">
                <select name="groblje_id" id="groblje_id" class="form-control" autofocus>
                    {% for groblje in groblja %}
                    <option value="{{ groblje.id }}">{{ groblje.naziv }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="flex-col">
                <input type="text" name="parcela" id="parcela" class="form-control" autocomplete="off" placeholder="Parcela">
            </div>
            <div class="flex-col">
                <input type="text" name="grobno_mesto" id="grobno_mesto" class="form-control" autocomplete="off" placeholder="Grobno mesto">
            </div>
            <div class="flex-col-4">
                <input type="submit" value="Filtriraj">
                {# Pronađi #}
                <a href="{{ path_for('kartoni') }}" class="btn btn-success">Svi kartoni</a>
            </div>
            <div class="flex-col-1 right">
                <a href="#" class="btn">Dodaj karton</a>
            </div>
        </div>
    </form>
</div>

<div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th class="w-5">Id</th>
                <th class="w-10"><i class="fas fa-link"> Broj</i></th>
                <th class="w-5">Br mesta</th>
                <th class="w-10">Tip groba</th>
                <th class="w-5">Aktivan</th>
                <th class="w-50">Napomena</th>
                <th class="w-10 right">Stanje</th>
                <th class="w-5 right"><i class="fas fa-cogs"></i></th>
            </tr>
        </thead>
        <tbody>
            {% for karton in kartoni.data %}
            <tr>
                <td><em>{{ karton.id }}</em></td>
                <td>
                    <a href="{{ path_for('kartoni.pregled', { 'id': karton.id }) }}">
                        <strong>{{ karton.broj() }}</strong>
                    </a>
                </td>
                <td>{{ karton.broj_mesta }}</td>
                <td>{{ karton.tip_groba }}</td>
                <td>{{ karton.aktivanDisabled()|raw }}</td>
                <td>{{ karton.napomena|nl2br }}</td>
                <td class="right">{{ karton.stanje|number_format(2, '.', ',') }}</td>
                <td class="right">
                    <a href="{{ path_for('kartoni.transakcije',{id: karton.id}) }}" class="btn btn-success btn-s">
                        <i class="fas fa-money-bill-wave"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="flex-row">
    <div class="flex-col-4">{{ kartoni.links.buttons|raw }}</div>
    <div class="flex-col-1">Idi na stranu {{ kartoni.links.select|raw }}</div>
    <div class="flex-col-2" style="text-align: right;">
        <p>
            Prikazani redovi od
            <strong>{{ kartoni.links.row_from }}</strong> do <strong>{{ kartoni.links.row_to }}</strong>
            od ukupno <strong>{{ kartoni.links.total_rows }}</strong>
        </p>
    </div>
</div>
{% endblock naslov %}