{% extends "templates/app.twig" %}

{% block sadrzaj %}
<h1 class="primary-text">
  Karton
  <span class="success-text"><small><em>[{{ karton.broj() }}]</em></small></span>
</h1>
<div class="well">
  <button onclick="window.history.back();">
    <i class="fas fa-angle-left"></i> Nazad
  </button>
  <a href="{{ path_for('kartoni') }}" class="btn"><i class="fas fa-angle-double-left"></i> SVI Kartoni</a>
  <a href="#" class="btn btn-warning">Izmeni karton</a>
  <a href="#" class="btn btn-danger">Obriši karton</a>
  <a href="#" class="btn btn-secondary">Mapa</a>
</div>

<div class="well white-text primary-bg">
  <div class="flex-row">
    <div class="flex-col">
      <strong>Groblje:</strong>
      {{ karton.groblje().naziv }}
    </div>
    <div class="flex-col">
      <strong>Parcela:</strong>
      {{ karton.parcela }}
    </div>
    <div class="flex-col">
      <strong>Grobno mesto:</strong>
      {{ karton.grobno_mesto }}
    </div>
    <div class="flex-col">
      <strong>Broj mesta:</strong>
      {{ karton.broj_mesta }}
    </div>
    <div class="flex-col">
      <strong>Tip groba:</strong>
      {{ karton.tip_groba }}
    </div>
    <div class="flex-col">
      <strong>Aktivan karton:</strong>
      {{ karton.aktivanDisabled() | raw }}
    </div>
  </div>
  <strong>Napomene:</strong><br />
  {{ karton.napomena | nl2br }}<br />
</div>
<hr>
<div class="flex-row">
  <div class="flex-col-5">
    <h2 style="margin:0;">Staraoci</h2>
  </div>
  <div class="flex-col-2 right">
    <a href="#" class="btn">dodaj staraoca</a>
  </div>
</div>
<div class="table-responsive">
  <table>
    <thead>
      <tr>
        <th class="w-5 danger-bg">Id</th>
        <th class="w-5 danger-bg">RB</th>
        <th class="w-20 danger-bg">Ime</th>
        <th class="w-10 danger-bg">JMBG</th>
        <th class="w-25 danger-bg">Adresa</th>
        <th class="w-15 danger-bg">Telefon</th>
        <th class="w-5 danger-bg">Aktivan</th>
        <th class="w-5 danger-bg">Prenos</th>
        <th class="w-10 danger-bg right"><i class="fas fa-cogs"></i></th>
      </tr>
    </thead>
    <tbody>
      {% for st in karton.staraoci() %}
      <tr>
        <td><em>{{ st.id }}</em></td>
        <td>{{ st.redni_broj }}</td>
        <td>{{ st.punoIme() }}</td>
        <td>{{ st.jmbg }}</td>
        <td>{{ st.adresa() }}</td>
        <td>{{ st.telefon }}</td>
        <td>{{ st.aktivanDisabled()|raw }}</td>
        <td>{{ st.prenosDisabled()|raw }}</td>
        <td class="right">
          <a href="#" class="btn btn-warning btn-s"><i class="fas fa-pen"></i></a>
          <a href="#" class="btn btn-danger btn-s"><i class="fas fa-trash"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<hr>
<div class="flex-row">
  <div class="flex-col-5">
    <h2 style="margin:0;">Pokojnici</h2>
  </div>
  <div class="flex-col-2 right">
    <a href="#" class="btn">dodaj pokojnika</a>
  </div>
</div>
<div class="table-responsive">
  <table>
    <thead>
      <tr>
        <th class="w-5 black-bg">Id</th>
        <th class="w-5 black-bg">RB</th>
        <th class="w-20 black-bg">Ime</th>
        <th class="w-15 black-bg">JMBG</th>
        <th class="w-15 black-bg">Mesto</th>
        <th class="w-5 black-bg">Dupla</th>
        <th class="w-5 black-bg">Pozicija</th>
        <th class="w-5 black-bg">Datum rođenja</th>
        <th class="w-5 black-bg">Datum smrti</th>
        <th class="w-5 black-bg">Datum sahrane</th>
        <th class="w-5 black-bg">Datum ekshumacije</th>
        <th class="w-10 black-bg right"><i class="fas fa-cogs"></i></th>
      </tr>
    </thead>
    <tbody>
      {% for pok in karton.pokojnici() %}
      <tr>
        <td><em>{{ pok.id }}</em></td>
        <td>{{ pok.redni_broj }}</td>
        <td>{{ pok.punoIme() }}</td>
        <td>{{ pok.jmbg }}</td>
        <td>{{ pok.mesto }}</td>
        <td>{{ pok.duplaRaka(true)|raw }}</td>
        <td>{{ pok.pozicija }}</td>
        <td>{{ pok.datum_rodjenja() }}</td>
        <td>{{ pok.datum_smrti() }}</td>
        <td>{{ pok.datum_sahrane() }}</td>
        <td>{{ pok.datum_ekshumacije() }}</td>
        <td class="right">
          <a href="#" class="btn btn-warning btn-s"><i class="fas fa-pen"></i></a>
          <a href="#" class="btn btn-danger btn-s"><i class="fas fa-trash"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock sadrzaj %}

{% block traka %}
<div class="flex-row">
  <div class="flex-col-5">
    <h2 style="margin:0;">Dokumenti</h2>
  </div>
  <div class="flex-col-5 right">
    <a href="#" class="btn">dodaj dokument</a>
  </div>
</div>
<div class="table-responsive">
  <table>
    <thead>
      <tr>
        <th class="w-20">Tip</th>
        <th class="w-15">Datum</th>
        <th class="w-50">Opis</th>
        <th class="w-15 right"><i class="fas fa-cogs"></i></th>
      </tr>
    </thead>
    <tbody>
      {% for dok in karton.dokumenti() %}
      <tr>
        <td>
          <em>{{ dok.tip }}</em>
        </td>
        <td>{{ dok.datum() }}</td>
        <td>{{ dok.opis | nl2br }}</td>
        <td class="right">
          <a href="{{ dok.veza }}" class="btn btn-success btn-s" target="_blank"><i class="fas fa-eye"></i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="flex-row">
  <div class="flex-col-5">
    <h2 style="margin:0;">Transakcije</h2>
  </div>
  <div class="flex-col-5 right">
    <a href="{{ path_for('kartoni.transakcije',{'id':karton.id}) }}" class="btn">dodaj transakciju</a>
  </div>
</div>
<div class="table-responsive">
  <table>
    <thead>
      <tr>
        <th class="w-15 success-bg">Tip</th>
        <th class="w-15 success-bg">Godina</th>
        <th class="w-15 success-bg">Datum</th>
        <th class="w-25 success-bg right">Iznos</th>
        <th class="w-20 success-bg">Priznanica</th>
        <th class="w-10 success-bg">Razd</th>
      </tr>
    </thead>
    <tbody>
      {% for tran in karton.transakcije() %}
      <tr>
        <td>
          <em>{{ tran.tip_transakcije().tip }}</em>
        </td>
        <td>{{ tran.tip_transakcije().godina }}</td>
        <td>{{ tran.datum() }}</td>
        <td class="right">{{ (tran.iznos)|number_format(2, '.', ',') }}</td>
        <td>{{ tran.priznanica }}</td>
        <td>{{ tran.razduzenoDisabled() | raw }}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td></td>
        {% if saldo <= 0 %} <td class="right success-bg"><strong>Saldo:</strong></td>
        <td class="right success-bg">{{ saldo|number_format(2, '.', ',') }}</td>
        {% else %}
        <td class="right danger-bg"><strong>Saldo:</strong></td>
        <td class="right danger-bg">{{ saldo|number_format(2, '.', ',') }}</td>
        {% endif %}
        <td></td>
        <td></td>
      </tr>
    </tfoot>
  </table>
</div>
{% endblock traka %}