{% extends "templates/app.twig" %}

{% block sadrzaj %}
<h1 class="uk-heading-divider">
Mape u upotrebi
</h1>


    <table class="uk-table uk-table-divider uk-table-striped uk-table-hover uk-table-small uk-table-middle">
        <thead>
            <tr>
                <th class="uk-table-shrink">Id</th>
                <th>Groblje</th>
                <th>Parcela</th>
                <th class="uk-table-expand">Naziv mape</th>
                <th>Mapa</th>
                <th><span uk-icon="cog"></span></th>
            </tr>
        </thead>
        <tbody>
            {% for mapa in mape.data %}
            <tr>
                <td><em>{{ mapa.id }}</em></td>
                <td>{{ mapa.groblje.naziv }}</td>
                <td>{{ mapa.parcela }}</td>
                <td><strong>{{ mapa.veza }}</strong></td>
                <td><div uk-lightbox id="light">
    <a href="{{ base_url() }}/img/Mape/{{ mapa.veza }}" data-caption="{{ mapa.groblje.naziv }} {{ mapa.parcela }}"><img class="uk-border-rounded" src="{{ base_url() }}/img/Mape/Thumb/{{ mapa.veza }}" width="200" alt="Mapa thumb"></a>
</div></td>
                <td><span uk-icon="link"></span></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
<div class="uk-flex uk-flex-between uk-margin-top">
  <div>{{ mape.links.buttons | raw }}</div>
  <div>Idi na stranu {{ mape.links.select | raw }}</div>
  <div>
    <p>
      Prikazani redovi od
      <em>{{ mape.links.row_from }}</em> do
      <em>{{ mape.links.row_to }}</em> od ukupno
      <em>{{ mape.links.total_rows }}</em>
    </p>
  </div>
</div>
{% endblock sadrzaj %}

{% block traka %}

    <form action="{{path_for('mapa.dodavanje')}}" method="POST" enctype="multipart/form-data" class="uk-background-muted uk-margin-top uk-padding-small">
        {{ csrf|raw }}
    <fieldset class="uk-fieldset">

        <legend class="uk-legend">Dodavanje nove mape</legend>

        <div class="uk-margin">
            <legend for="groblje">Groblje:</legend>
            <select name="groblje" id="groblje" class="uk-select uk-width-2-3">
               {% for groblje in groblja %}
                    <option value="{{ groblje.naziv }}">{{ groblje.naziv }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="uk-margin">
            <legend for="parcela">Parcela:</legend>
            <select name="parcela" id="parcela" class="uk-select uk-width-2-3">
               {% for par in parcele %}
                    <option value="{{ par.parcela }}">{{ par.parcela }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="uk-margin">
        <div uk-form-custom id="up">
            <input type="file" name="slika" id="slika">
            <button class="uk-button uk-button-default" type="button" tabindex="-1">Odaberi novu mapu <span uk-icon="image"></span></button>
        </div>
    </div>


        <hr class="uk-margin">
        <div class="uk-margin uk-float-right">
        <input type="submit" value="Sačuvaj" class="uk-button uk-button-primary uk-button-small">
        <a href="{{ path_for('mape')}}" class="uk-button uk-button-secondary uk-button-small">Otkaži</a>
        </div>

    </fieldset>
</form>
{% endblock traka %}
{% block skripta %}
<script>
var light = document.getElementById("light");
var up = document.getElementById("up");

UIkit.lightbox(light);
UIkit.formCustom(up);
</script>
{% endblock skripta %}
