{% extends "templates/print.twig" %}

{% block sadrzaj %}
	<p><strong>ЈКП Шумадија Крагујевац<br>Сектор гробаља</strong></p>
	<p>Месец: {{ "now"|date('m.Y') }}. године</p>
	<h3 style="text-align:center;">НАЛОГ ЗА ПРЕВОЗ</h3>
	<p>
		Дана: {{ prevoz.datum|date('Y-m-d') }}. године у {{ prevoz.vreme|date('H:i') }} часова по налогу
		{{ latinicaUCirilicu(prevoz.punoIme())|upper }}, телефон {{ prevoz.telefon }}.
	</p>
	<p>
		Покојник {{ latinicaUCirilicu(prevoz.punoImePokojnika())|upper }} се превози <br>
		од {{ latinicaUCirilicu(prevoz.adresaOd()) }}<br>
		до {{ latinicaUCirilicu(prevoz.adresaDo()) }}
	</p>
	<small>
	<p>Покојник се превози (заокружити број)</p>
	<ol>
		<li>У транспортном сандуку</li>
		<li>Са опремом</li>
		<li>Без опреме</li>
	</ol>
	</small>
	<p style="text-align:right;">
	_______________________________________<br>
	<small>(потпис шалтерског радника или портира)</small>
	</p>
	<p>
		<strong>
		НАПОМЕНА: Приликом преузимања покојника затражити на увид Потврду о смрти издату од мртвозорника
		</strong>
	</p>
	<h4 style="text-align:center;">ПОТВРДА О ОБАВЉЕНОМ ПРЕВОЗУ</h4>
	<p>Превоз обављен дана ___________________________. године у ______________ часова.</p>
	<div><small>(Заокружити врсту превоза покојника)</small></div>
	<ol>
		<li>Превоз покојника на градском подручју (до 25км у једном смеру од "Бозман" гробља)</li>
		<li>Превоз покојника ван градског подручја: ___________км (уписати пређену километражу)</li>
	</ol>
	<div><small>(Заокружити начин преузимања покојника)</small></div>
	<ol>
		<li>Преузимање и пренос покојника из зграде до возила</li>
		<li>Преузимање и пренос покојника из зграде преко 3. спрата до возила</li>
		<li>Преузимање покојника по позиву МУП-а (Налог тужиаштва)</li>
		<li>Преузимање покојника по позиву МУП-а у отежаним условима (Налог тужиаштва)</li>
		<li>Преузимање покојника у отежаним условима</li>
	</ol>
	<p>
		Напомена: _______________________________________________________________________________________________
	</p>
	<p style="text-align:right;">
	______________________________<br>
	<small>(превоз обавио)</small>
	</p>
	<p><small>
		<strong>Напомена:</strong> Налог за превоз у радно време попуњавају шалтерски радници.
		Ван радног времена и нерадним данима Налог попуњава портир. На крају смене дежурни возачи
		предају Налоге портиру који налоге за превоз на почетку редовног радног времена предаје
		шалтерским радницима на даљу обраду.
	</small></p>


{% endblock sadrzaj %}
