{% extends "templates/app.twig" %}

{% block naslov %}
<style>
.onoffswitch {
    position: relative; width: 120px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 20px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 30px; padding: 0; line-height: 30px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Fizičko lice";
    padding-left: 10px;
    background-color: #34A7C1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Pravno lice";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 18px; margin: 6px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 86px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
</style>
<h1>Zakazivanje sahrane</h1>
<hr>

<div uk-grid>
	<div class="uk-width-5-6">
	<p class="uk-text-muted" id="poruka"></p>
	<p class="uk-text-muted" id="poruka_staraoci"></p>
	<p class="uk-text-muted" id="poruka_pokojnici"></p>
</div>
	<div class="uk-width-1-6">
	<button class="uk-button uk-button-primary" id="ajax" name="ajax">Provera kartona <span uk-icon="search"></span></button>
</div>
</div>
<form action="{{ path_for('raspored.dodavanje.post') }}" method="POST" class="uk-form-stacked" id="forma" uk-grid>
	{{ csrf|raw }}
	<div class="uk-width-1-1">
		<h3>Podaci o grobnom mestu</h3>
	</div>
	<div class="uk-width-1-5">
		<legend for="groblje_id">Groblje:</legend>
		<select name="groblje_id" id="groblje_id" class="uk-select">
			{% for groblje in groblja %}
			<option value="{{ groblje.id }}">{{ groblje.naziv }}</option>
			{% endfor %}
		</select>
	</div>

	<div class="uk-width-1-5">
		<label for="parcela" class="uk-form-label">Parcela:</label>
		<div class="uk-form-controls">
			<input type="text" name="parcela" id="parcela" value="{{ old.parcela ? : '' }}"
				class="uk-input{{ errors.parcela[0] ? ' uk-form-danger': ''}}" autocomplete="off" required>
		</div>
		<small class=" uk-text-danger">{{ errors.parcela[0] ? :'' }}</small>
	</div>

	<div class="uk-width-1-5">
		<label for="grobno_mesto" class="uk-form-label">Redni broj grobnog mesta</label>
		<div class="uk-form-controls">
			<input type="number" name="grobno_mesto" step="1" id="grobno_mesto" value="{{ old.grobno_mesto ? : '' }}"
				class="uk-input{{ errors.grobno_mesto[0] ? ' uk-form-danger': ''}}" autocomplete="off" required>
		</div>
		<small class=" uk-text-danger">{{ errors.grobno_mesto[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-5">
		<label for="tip_groba" class="uk-form-label">Tip groba</label>
		<div class="uk-form-controls">
			<select name="tip_groba" id="tip_groba" class="uk-select{{ errors.tip_groba[0] ? ' uk-form-danger': ''}}"
				required>
				{% for tip in tipovi %}
				<option value="{{ tip }}" {{ old.tip_groba == tip ? ' selected' : '' }}>{{ tip }}</option>
				{% endfor %}
			</select>
		</div>
		<small class="uk-text-danger">{{ errors.tip_groba[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-5">
		<div class="uk-form-controls uk-margin-top">
			<label><input class="uk-checkbox{{ errors.dupla_raka[0] ? ' uk-form-danger': ''}}" type="checkbox"
					name="dupla_raka" {{ old.dupla_raka ? ' checked' : '' }}> Dupla raka</label>
		</div>
	</div>
	<div class="uk-width-1-1">
		<h3>Podaci o pokojniku</h3>
	</div>
	<div class="uk-width-1-6">
		<div class="uk-form-controls uk-margin-top">
			<label><input class="uk-checkbox{{ errors.pio[0] ? ' uk-form-danger': ''}}" type="checkbox" name="pio"
					{{ old.pio ? ' checked' : '' }}> PIO</label>
		</div>
	</div>
	<div class="uk-width-1-6">
		<label for="prezime" class="uk-form-label">Prezime</label>
		<div class="uk-form-controls">
			<input type="text" name="prezime" id="prezime"
				class="uk-input{{ errors.prezime[0] ? ' uk-form-danger': ''}}" value="{{ old.prezime ? : '' }}"
				autocomplete="off" required>
		</div>
		<small class="uk-text-danger">{{ errors.prezime[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-6">
		<label for="ime" class="uk-form-label">Ime</label>
		<div class="uk-form-controls">
			<input type="text" name="ime" id="ime" class="uk-input{{ errors.ime[0] ? ' uk-form-danger': ''}}"
				value="{{ old.ime ? : '' }}" autocomplete="off" required>
		</div>
		<small class="uk-text-danger">{{ errors.ime[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-6">
		<label for="srednje_ime" class="uk-form-label">Srednje ime</label>
		<div class="uk-form-controls">
			<input type="text" name="srednje_ime" id="srednje_ime"
				class="uk-input{{ errors.srednje_ime[0] ? ' uk-form-danger': ''}}" value="{{ old.srednje_ime ? : '' }}"
				autocomplete="off">
		</div>
		<small class="uk-text-danger">{{ errors.srednje_ime[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-6">
		<label for="jmbg" class="uk-form-label">JMBG</label>
		<div class="uk-form-controls">
			<input type="text" name="jmbg" id="jmbg" class="uk-input{{ errors.jmbg[0] ? ' uk-form-danger': ''}}"
				value="{{ old.jmbg ? : '' }}" autocomplete="off" maxlength="13" required>
		</div>
		<small class="uk-text-danger">{{ errors.jmbg[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-6">
		<label for="mesto" class="uk-form-label">Mesto</label>
		<div class="uk-form-controls">
			<input type="text" name="mesto" id="mesto" class="uk-input{{ errors.mesto[0] ? ' uk-form-danger': ''}}"
				value="{{ old.mesto ? : 'Kragujevac' }}" autocomplete="off">
		</div>
		<small class="uk-text-danger">{{ errors.mesto[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-6">
		<label for="prebivaliste" class="uk-form-label">Prebivalište</label>
		<div class="uk-form-controls">
			<input type="text" name="prebivaliste" id="prebivaliste"
				class="uk-input{{ errors.prebivaliste[0] ? ' uk-form-danger': ''}}"
				value="{{ old.prebivaliste ? : 'Kragujevac' }}" autocomplete="off">
		</div>
		<small class="uk-text-danger">{{ errors.mesto[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-6">
		<label for="datum_rodjenja" class="uk-form-label">Datum rođenja</label>
		<div class="uk-form-controls">
			<input type="date" name="datum_rodjenja" id="datum_rodjenja" value="{{ old.datum_rodjenja }}"
				class="uk-input{{ errors.datum_rodjenja[0] ? ' uk-form-danger': ''}}" autocomplete="off">
		</div>
		<small class=" uk-text-danger">{{ errors.datum_rodjenja[0] ? : '' }}</small>
	</div>
	<div class="uk-width-1-6">
		<label for="datum_smrti" class="uk-form-label">Datum smrti</label>
		<div class="uk-form-controls">
			<input type="date" name="datum_smrti" id="datum_smrti" value="{{ old.datum_smrti ? : '' }}"
				class="uk-input{{ errors.datum_smrti[0] ? ' uk-form-danger': ''}}" autocomplete="off">
		</div>
		<small class=" uk-text-danger">{{ errors.datum_smrti[0] ? : '' }}</small>
	</div>
	<div class="uk-width-1-1">
		<h3>Podaci o prijaviocu sahrane</h3>
	</div>
	<div class="uk-width-1-5">
		<label for="prezime_prijavioca" class="uk-form-label">Prezime prijavioca</label>
		<div class="uk-form-controls">
			<input type="text" name="prezime_prijavioca" id="prezime_prijavioca"
				class="uk-input{{ errors.prezime_prijavioca[0] ? ' uk-form-danger': ''}}"
				value="{{ old.prezime_prijavioca ? : '' }}" autocomplete="off" required>
		</div>
		<small class="uk-text-danger">{{ errors.prezime_prijavioca[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-5">
		<label for="ime_prijavioca" class="uk-form-label">Ime prijavioca</label>
		<div class="uk-form-controls">
			<input type="text" name="ime_prijavioca" id="ime_prijavioca"
				class="uk-input{{ errors.ime_prijavioca[0] ? ' uk-form-danger': ''}}"
				value="{{ old.ime_prijavioca ? : '' }}" autocomplete="off" required>
		</div>
		<small class="uk-text-danger">{{ errors.ime_prijavioca[0] ? :'' }}</small>
	</div>
	<div class="uk-width-2-5">
		<label for="ovlascen" class="uk-form-label">Ovlašćen od strane:</label>
		<div class="uk-form-controls">
			<input type="text" name="ovlascen" id="ovlascen"
				class="uk-input{{ errors.ovlascen[0] ? ' uk-form-danger': ''}}" value="{{ old.ovlascen ? : '' }}"
				autocomplete="off" required>
		</div>
		<small class="uk-text-danger">{{ errors.ovlascen[0] ? :'' }}</small>
	</div>
	<div class="uk-width-2-5"></div>
	<div class="uk-width-1-1">
		<h3>Podaci potrebni za fakturisanje troškova</h3>
	</div>
	<div class="uk-width-1-5">
		<label for="prezime_troskovi" class="uk-form-label">Prezime</label>
		<div class="uk-form-controls">
			<input type="text" name="prezime_troskovi" id="prezime_troskovi"
				class="uk-input{{ errors.prezime_troskovi[0] ? ' uk-form-danger': ''}}"
				value="{{ old.prezime_troskovi ? : '' }}" autocomplete="off" required>
		</div>
		<small class="uk-text-danger">{{ errors.prezime_troskovi[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-5">
		<label for="ime_troskovi" class="uk-form-label">Ime</label>
		<div class="uk-form-controls">
			<input type="text" name="ime_troskovi" id="ime_troskovi"
				class="uk-input{{ errors.ime_troskovi[0] ? ' uk-form-danger': ''}}"
				value="{{ old.ime_troskovi ? : '' }}" autocomplete="off" required>
		</div>
		<small class="uk-text-danger">{{ errors.ime_troskovi[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-5">
		<label for="jmbg_troskovi" class="uk-form-label">JMBG</label>
		<div class="uk-form-controls">
			<input type="text" name="jmbg_troskovi" id="jmbg_troskovi"
				class="uk-input{{ errors.jmbg_troskovi[0] ? ' uk-form-danger': ''}}"
				value="{{ old.jmbg_troskovi ? : '' }}" autocomplete="off" maxlength="13">
		</div>
		<small class="uk-text-danger">{{ errors.jmbg_troskovi[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-5">
		<label for="prebivaliste_troskovi" class="uk-form-label">Prebivalište:</label>
		<div class="uk-form-controls">
			<input type="text" name="prebivaliste_troskovi" id="prebivaliste_troskovi"
				class="uk-input{{ errors.prebivaliste_troskovi[0] ? ' uk-form-danger': ''}}"
				value="{{ old.prebivaliste_troskovi ? : 'Kragujevac' }}" autocomplete="off">
		</div>
		<small class="uk-text-danger">{{ errors.prebivaliste_troskovi[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-5">
		<label for="telefon" class="uk-form-label">Telefoni:</label>
		<div class="uk-form-controls">
			<input type="text" name="telefon" id="telefon"
				class="uk-input{{ errors.telefon[0] ? ' uk-form-danger': ''}}" value="{{ old.telefon ? : '' }}"
				autocomplete="off">
		</div>
		<small class="uk-text-danger">{{ errors.telefon[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-5">
		<label for="broj_lk" class="uk-form-label">Broj lične karte</label>
		<div class="uk-form-controls">
			<input type="number" name="broj_lk" step="1" id="broj_lk" value="{{ old.broj_lk ? : '' }}"
				class="uk-input{{ errors.broj_lk[0] ? ' uk-form-danger': ''}}" autocomplete="off">
		</div>
		<small class=" uk-text-danger">{{ errors.broj_lk[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-5">
		<label for="mup" class="uk-form-label">MUP</label>
		<div class="uk-form-controls">
			<input type="text" name="mup" id="mup" class="uk-input{{ errors.mup[0] ? ' uk-form-danger': ''}}"
				value="{{ old.mup ? : 'Kragujevac' }}" autocomplete="off">
		</div>
		<small class="uk-text-danger">{{ errors.mup[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-5">
		<label for="uplata_do" class="uk-form-label">Uplata će biti izvršena do:</label>
		<div class="uk-form-controls">
			<input type="date" name="uplata_do" id="uplata_do" value="{{ old.uplata_do ? : '' }}"
				class="uk-input{{ errors.uplata_do[0] ? ' uk-form-danger': ''}}" autocomplete="off">
		</div>
		<small class=" uk-text-danger">{{ errors.uplata_do[0] ? : '' }}</small>
	</div>
	<div class="uk-width-3-5"></div>
	<div class="uk-width-1-1">
		<div uk-grid class="uk-background-muted uk-padding-small" style="margin-left:1px;">
		<div class="uk-width-1-1">
		<h4>Podaci o računu ako je dostupan</h4>
		<div class="onoffswitch">
		    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
		    <label class="onoffswitch-label" for="myonoffswitch">
		        <span class="onoffswitch-inner"></span>
		        <span class="onoffswitch-switch"></span>
		    </label>
		</div>
		</div>
		<div class="uk-width-1-5">
		<label for="broj" class="uk-form-label">Broj računa:</label>
		<div class="uk-form-controls">
			<input type="text" name="broj" id="broj"
				class="uk-input{{ errors.broj[0] ? ' uk-form-danger': ''}}" value="{{ old.broj ? : '' }}"
				autocomplete="off">
		</div>
		<small class="uk-text-danger">{{ errors.broj[0] ? :'' }}</small>
	</div>
		<div class="uk-width-1-5">
		<label for="datum" class="uk-form-label">Datum:</label>
		<div class="uk-form-controls">
			<input type="date" name="datum" id="datum" value="{{ old.datum ? : '' }}"
				class="uk-input{{ errors.datum[0] ? ' uk-form-danger': ''}}" autocomplete="off">
		</div>
		<small class=" uk-text-danger">{{ errors.datum[0] ? : '' }}</small>
	</div>
	    <div class="uk-width-1-5">
        <label for="iznos" class="uk-form-label">Iznos</label>
        <div class="uk-form-controls">
            <input type="number" name="iznos" id="iznos" value="0" min="0" step="0.01"
                class="uk-input uk-text-right" autocomplete="off">
        </div>
        <small class="uk-text-danger">{{ errors.iznos[0] ? :'' }}</small>
    </div>
    	<div class="uk-width-1-5">
		<div class="uk-form-controls uk-margin-medium-top">
			<label><input class="uk-checkbox{{ errors.razduzeno[0] ? ' uk-form-danger': ''}}" type="checkbox" name="razduzeno"
					{{ old.razduzeno ? ' checked' : '' }}> Razduženo</label>
		</div>
	</div>
	<div class="uk-width-1-5">
		<label for="datum_razduzenja" class="uk-form-label">Datum razduženja:</label>
		<div class="uk-form-controls">
			<input type="date" name="datum_razduzenja" id="datum_razduzenja" value="{{ old.datum_razduzenja ? : '' }}"
				class="uk-input{{ errors.datum_razduzenja[0] ? ' uk-form-danger': ''}}" autocomplete="off">
		</div>
		<small class=" uk-text-danger">{{ errors.datum_razduzenja[0] ? : '' }}</small>
	</div>
	  <div class="uk-width-1-1">
    <label for="napomena_racun" class="uk-form-label">Napomena / opis uplate</label>
    <div class="uk-form-controls">
      <textarea class="uk-textarea{{ errors.napomena_racun[0] ? ' uk-form-danger': ''}}" rows="2" name="napomena_racun" id="napomena_racun">{{ old.napomena_racun ? : '' }}</textarea>
    </div>
    <small class=" uk-text-danger">{{ errors.napomena_racun[0] ? :'' }}</small>
  </div>
		</div>
	</div>

	<div class="uk-width-1-1">
		<hr class="uk-divider-icon">
	</div>
	<div class="uk-width-1-5">
		<label for="start" class="uk-form-label">Datum i vreme obavljanja sahrane</label>
		<div class="uk-form-controls">
			<input type="datetime-local" name="start" id="start" value="{{ old.start ? : '' }}"
				class="uk-input{{ errors.start[0] ? ' uk-form-danger': ''}}" autocomplete="off" autofocus required>
		</div>
		<small class=" uk-text-danger">{{ errors.start[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-5">
		<label for="end" class="uk-form-label">Procenjen kraj sahrane</label>
		<div class="uk-form-controls">
			<input type="datetime-local" name="end" id="end" value="{{ old.end ? : '' }}"
				class="uk-input{{ errors.end[0] ? ' uk-form-danger': ''}}" autocomplete="off" autofocus required>
		</div>
		<small class="uk-text-danger">{{ errors.end[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-5">
		<label for="datum_prijave" class="uk-form-label">Datum prijave smrti:</label>
		<div class="uk-form-controls">
			<input type="date" name="datum_prijave" id="datum_prijave" value="{{ old.datum_prijave ? : '' }}"
				class="uk-input{{ errors.datum_prijave[0] ? ' uk-form-danger': ''}}" autocomplete="off">
		</div>
		<small class=" uk-text-danger">{{ errors.datum_prijave[0] ? : '' }}</small>
	</div>
	<div class="uk-width-1-5"></div>
	<div class="uk-width-1-2">
		<label for="napomena" class="uk-form-label">Napomena</label>
		<div class="uk-form-controls">
			<textarea class="uk-textarea{{ errors.napomena[0] ? ' uk-form-danger': ''}}" rows="3" name="napomena"
				id="napomena">{{ old.napomena ? : '' }}</textarea>
		</div>
		<small class=" uk-text-danger">{{ errors.napomena[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-2">
		<label for="prevoz" class="uk-form-label">Prevoz</label>
		<div class="uk-form-controls">
			<textarea class="uk-textarea{{ errors.prevoz[0] ? ' uk-form-danger': ''}}" rows="3" name="prevoz"
				id="prevoz">{{ old.prevoz ? : '' }}</textarea>
		</div>
		<small class=" uk-text-danger">{{ errors.prevoz[0] ? :'' }}</small>
	</div>
	<div class="uk-button-group uk-width-1-4 uk-margin-medium-bottom">
		<button class="uk-button uk-button-primary uk-width-1-2">Snimi</button>
		<button onclick="window.history.back();" class="uk-button uk-button-secondary uk-width-1-2">Otkaži</button>
	</div>
	<div class="uk-width-3-4"></div>
</form>
{% endblock naslov %}
{% block skripta %}
	<script type="text/javascript">
	window.onload = function () {
		window.scrollTo(0, 0);
		document.getElementById('ajax').addEventListener('click', loadText);
		function loadText(){
			var groblje = document.getElementById('groblje_id').value;
			var parcela = document.getElementById('parcela').value;
			var mesto = document.getElementById('grobno_mesto').value;

			if(groblje == null || groblje == "", parcela == null || parcela == "", mesto == null || mesto == ""){
				document.getElementById('poruka').innerHTML = "Morate uneti naziv groblja, parcelu i redni broj grobnog mesta da bi ste proverili postojanje određenog kartona!";
		}else{
			var xhr = new XMLHttpRequest();
			xhr.open('POST', '{{ path_for('raspored.ajax') }}', true);
			xhr.onload = function(){
				var data = JSON.parse(this.responseText);
				if (this.status == 200){
					document.getElementById('poruka').innerHTML = data.poruka;
					if(data.nov_karton == 0){
						var str1 = "Staraoci: ";
						var str2 = "Pokojnici: ";
						document.getElementById('poruka_staraoci').innerHTML = str1.concat(data.poruka_staraoci);
						document.getElementById('poruka_pokojnici').innerHTML = str2.concat(data.poruka_pokojnici);
					}else{
						document.getElementById('poruka_staraoci').innerHTML = "";
						document.getElementById('poruka_pokojnici').innerHTML = "";
					}
						document.getElementById("csrf_name").value = data.csrf_name;
						document.getElementById("csrf_value").value = data.csrf_value;
				}
			}
			token = new FormData(document.querySelector("#forma"));
			xhr.send(token);
		}}
	};
	</script>
{% endblock skripta %}