{% extends "templates/app.twig" %}

{% block naslov %}
<h1>Zakazivanje sahrane</h1>
<hr>
<form action="{{ path_for('raspored.dodavanje.post') }}" method="POST" class="uk-form-stacked" uk-grid>
	{{ csrf|raw }}
	<div class="uk-width-1-1">
		<h3>Podaci o grobnom mestu</h3>
	</div>
	<div class="uk-width-1-5">
            <legend for="groblje_id">Groblje:</legend>
            <select name="groblje_id" id="groblje_id" class="uk-select">
                {% for groblje in groblja %}
                <option value="{{ groblje.id }}">{{ groblje.naziv }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="uk-width-1-5">
            <label for="parcela" class="uk-form-label">Parcela:</label>
            <div class="uk-form-controls">
           <input type="text" name="parcela" id="parcela"  value="{{ old.parcela ? : '' }}" 
           class="uk-input{{ errors.parcela[0] ? ' uk-form-danger': ''}}" autocomplete="off" required>
            </div>
			<small class=" uk-text-danger">{{ errors.parcela[0] ? :'' }}</small>
        </div>

        <div class="uk-width-1-5">
		<label for="grobno_mesto" class="uk-form-label">Redni broj grobnog mesta</label>
		<div class="uk-form-controls">
			<input type="number" name="grobno_mesto" step="1" id="grobno_mesto" value="{{ old.grobno_mesto ? : '' }}"
				class="uk-input{{ errors.grobno_mesto[0] ? ' uk-form-danger': ''}}" autocomplete="off" required>
		</div>
		<small class=" uk-text-danger">{{ errors.grobno_mesto[0] ? :'' }}</small>
	</div>
        <div class="uk-width-1-5">
		<div class="uk-form-controls uk-margin-top">
			<label><input class="uk-checkbox{{ errors.dupla_raka[0] ? ' uk-form-danger': ''}}" type="checkbox" name="dupla_raka"
					{{ old.dupla_raka ? ' checked' : '' }}> Dupla raka</label>
		</div>
		</div>
		<div class="uk-width-1-5">
		<label for="tip_groba" class="uk-form-label">Tip groba</label>
		<div class="uk-form-controls">
			<select name="tip_groba" id="tip_groba" class="uk-select{{ errors.tip_groba[0] ? ' uk-form-danger': ''}}" required>
				{% for tip in tipovi %}
				<option value="{{ tip }}"{{ old.tip_groba == tip ? ' selected' : '' }}>{{ tip }}</option>
				{% endfor %}
			</select>
		</div>
		<small class="uk-text-danger">{{ errors.tip_groba[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-1">
		<h3>Podaci o pokojniku</h3>
	</div>
		<div class="uk-width-1-6">
		<div class="uk-form-controls uk-margin-top">
			<label><input class="uk-checkbox{{ errors.pio[0] ? ' uk-form-danger': ''}}" type="checkbox" name="pio"
					{{ old.pio ? ' checked' : '' }}> PIO</label>
		</div>
	</div>
	<div class="uk-width-1-6">
		<label for="prezime" class="uk-form-label">Prezime</label>
		<div class="uk-form-controls">
			<input type="text" name="prezime" id="prezime"
				class="uk-input{{ errors.prezime[0] ? ' uk-form-danger': ''}}" value="{{ old.prezime ? : '' }}"
				autocomplete="off" required>
		</div>
		<small class="uk-text-danger">{{ errors.prezime[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-6">
		<label for="ime" class="uk-form-label">Ime</label>
		<div class="uk-form-controls">
			<input type="text" name="ime" id="ime" class="uk-input{{ errors.ime[0] ? ' uk-form-danger': ''}}"
				value="{{ old.ime ? : '' }}" autocomplete="off" required>
		</div>
		<small class="uk-text-danger">{{ errors.ime[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-6">
		<label for="srednje_ime" class="uk-form-label">Srednje ime</label>
		<div class="uk-form-controls">
			<input type="text" name="srednje_ime" id="srednje_ime"
				class="uk-input{{ errors.srednje_ime[0] ? ' uk-form-danger': ''}}" value="{{ old.srednje_ime ? : '' }}"
				autocomplete="off">
		</div>
		<small class="uk-text-danger">{{ errors.srednje_ime[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-6">
		<label for="jmbg" class="uk-form-label">JMBG</label>
		<div class="uk-form-controls">
			<input type="text" name="jmbg" id="jmbg" class="uk-input{{ errors.jmbg[0] ? ' uk-form-danger': ''}}"
				value="{{ old.jmbg ? : '' }}" autocomplete="off" maxlength="13" required>
		</div>
		<small class="uk-text-danger">{{ errors.jmbg[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-6">
		<label for="mesto" class="uk-form-label">Mesto</label>
		<div class="uk-form-controls">
			<input type="text" name="mesto" id="mesto" class="uk-input{{ errors.mesto[0] ? ' uk-form-danger': ''}}"
				value="{{ old.mesto ? : 'Kragujevac' }}" autocomplete="off">
		</div>
		<small class="uk-text-danger">{{ errors.mesto[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-6">
		<label for="datum_rodjenja" class="uk-form-label">Datum rođenja</label>
		<div class="uk-form-controls">
			<input type="date" name="datum_rodjenja" id="datum_rodjenja" value="{{ old.datum_rodjenja }}"
				class="uk-input{{ errors.datum_rodjenja[0] ? ' uk-form-danger': ''}}" autocomplete="off">
		</div>
		<small class=" uk-text-danger">{{ errors.datum_rodjenja[0] ? : '' }}</small>
	</div>
	<div class="uk-width-1-6">
		<label for="datum_smrti" class="uk-form-label">Datum smrti</label>
		<div class="uk-form-controls">
			<input type="date" name="datum_smrti" id="datum_smrti" value="{{ old.datum_smrti ? : '' }}"
				class="uk-input{{ errors.datum_smrti[0] ? ' uk-form-danger': ''}}" autocomplete="off">
		</div>
		<small class=" uk-text-danger">{{ errors.datum_smrti[0] ? : '' }}</small>
	</div>
	<div class="uk-width-1-1">
		<h3>Podaci o prijaviocu sahrane</h3>
	</div>
	<div class="uk-width-1-5">
		<label for="prezime_prijavioca" class="uk-form-label">Prezime prijavioca</label>
		<div class="uk-form-controls">
			<input type="text" name="prezime_prijavioca" id="prezime_prijavioca"
				class="uk-input{{ errors.prezime_prijavioca[0] ? ' uk-form-danger': ''}}"
				value="{{ old.prezime_prijavioca ? : '' }}" autocomplete="off" required>
		</div>
		<small class="uk-text-danger">{{ errors.prezime_prijavioca[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-5">
		<label for="ime_prijavioca" class="uk-form-label">Ime prijavioca</label>
		<div class="uk-form-controls">
			<input type="text" name="ime_prijavioca" id="ime_prijavioca"
				class="uk-input{{ errors.ime_prijavioca[0] ? ' uk-form-danger': ''}}"
				value="{{ old.ime_prijavioca ? : '' }}" autocomplete="off" required>
		</div>
		<small class="uk-text-danger">{{ errors.ime_prijavioca[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-5">
		<label for="jmbg_prijavioca" class="uk-form-label">JMBG</label>
		<div class="uk-form-controls">
			<input type="text" name="jmbg_prijavioca" id="jmbg_prijavioca"
				class="uk-input{{ errors.jmbg_prijavioca[0] ? ' uk-form-danger': ''}}"
				value="{{ old.jmbg_prijavioca ? : '' }}" autocomplete="off" maxlength="13" required>
		</div>
		<small class="uk-text-danger">{{ errors.jmbg_prijavioca[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-5">
		<label for="mesto_prijavioca" class="uk-form-label">Mesto</label>
		<div class="uk-form-controls">
			<input type="text" name="mesto_prijavioca" id="mesto_prijavioca"
				class="uk-input{{ errors.mesto_prijavioca[0] ? ' uk-form-danger': ''}}"
				value="{{ old.mesto_prijavioca ? : 'Kragujevac' }}" autocomplete="off">
		</div>
		<small class="uk-text-danger">{{ errors.mesto_prijavioca[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-5">
		<label for="telefon" class="uk-form-label">Telefon</label>
		<div class="uk-form-controls">
			<input type="text" name="telefon" id="telefon"
				class="uk-input{{ errors.telefon[0] ? ' uk-form-danger': ''}}" value="{{ old.telefon ? : '' }}"
				autocomplete="off">
		</div>
		<small class="uk-text-danger">{{ errors.telefon[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-5">
		<label for="broj_lk" class="uk-form-label">Broj lične karte</label>
		<div class="uk-form-controls">
			<input type="number" name="broj_lk" step="1" id="broj_lk" value="{{ old.broj_lk ? : '' }}"
				class="uk-input{{ errors.broj_lk[0] ? ' uk-form-danger': ''}}" autocomplete="off" required>
		</div>
		<small class=" uk-text-danger">{{ errors.broj_lk[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-5">
		<label for="mup" class="uk-form-label">MUP</label>
		<div class="uk-form-controls">
			<input type="text" name="mup" id="mup" class="uk-input{{ errors.mup[0] ? ' uk-form-danger': ''}}"
				value="{{ old.mup ? : 'Kragujevac' }}" autocomplete="off">
		</div>
		<small class="uk-text-danger">{{ errors.mup[0] ? :'' }}</small>
	</div>
	<div class="uk-width-3-5"></div>
	<div class="uk-width-1-1">
	<hr class="uk-divider-icon">
	</div>
	<div class="uk-width-1-5">
		<label for="usluga_do" class="uk-form-label">Usluga će biti izvršena do:</label>
		<div class="uk-form-controls">
			<input type="date" name="usluga_do" id="usluga_do" value="{{ old.usluga_do ? : '' }}"
				class="uk-input{{ errors.usluga_do[0] ? ' uk-form-danger': ''}}" autocomplete="off">
		</div>
		<small class=" uk-text-danger">{{ errors.usluga_do[0] ? : '' }}</small>
	</div>
	<div class="uk-width-1-5">
		<label for="start" class="uk-form-label">Datum i vreme obavljanja sahrane</label>
		<div class="uk-form-controls">
			<input type="datetime-local" name="start" id="start" value="{{ old.start ? : '' }}"
				class="uk-input{{ errors.start[0] ? ' uk-form-danger': ''}}" autocomplete="off" autofocus required>
		</div>
		<small class=" uk-text-danger">{{ errors.start[0] ? :'' }}</small>
	</div>
	<div class="uk-width-1-5">
		<label for="end" class="uk-form-label">Procenjen kraj sahrane</label>
		<div class="uk-form-controls">
			<input type="datetime-local" name="end" id="end" value="{{ old.end ? : '' }}"
				class="uk-input{{ errors.end[0] ? ' uk-form-danger': ''}}" autocomplete="off" autofocus required>
		</div>
		<small class="uk-text-danger">{{ errors.end[0] ? :'' }}</small>
	</div>
		<div class="uk-width-1-5">
		<label for="datum_prijave" class="uk-form-label">Datum prijave smrti:</label>
		<div class="uk-form-controls">
			<input type="date" name="datum_prijave" id="datum_prijave" value="{{ old.datum_prijave ? : '' }}"
				class="uk-input{{ errors.datum_prijave[0] ? ' uk-form-danger': ''}}" autocomplete="off">
		</div>
		<small class=" uk-text-danger">{{ errors.datum_prijave[0] ? : '' }}</small>
	</div>
        <div class="uk-width-1-5"></div>
	<div class="uk-width-1-2">
		<label for="napomena" class="uk-form-label">Napomena</label>
		<div class="uk-form-controls">
			<textarea class="uk-textarea{{ errors.napomena[0] ? ' uk-form-danger': ''}}" rows="4" name="napomena" id="napomena">{{ old.napomena ? : '' }}</textarea>
		</div>
		<small class=" uk-text-danger">{{ errors.napomena[0] ? :'' }}</small>
	</div>
		<div class="uk-width-1-2">
		<label for="prevoz" class="uk-form-label">Prevoz</label>
		<div class="uk-form-controls">
			<textarea class="uk-textarea{{ errors.prevoz[0] ? ' uk-form-danger': ''}}" rows="4" name="prevoz" id="prevoz">{{ old.prevoz ? : '' }}</textarea>
		</div>
		<small class=" uk-text-danger">{{ errors.prevoz[0] ? :'' }}</small>
	</div>
	<div class="uk-button-group uk-width-1-4 uk-margin-medium-bottom">
		<button class="uk-button uk-button-primary uk-width-1-2">Snimi</button>
		<a href="{{ path_for('raspored') }}" class="uk-button uk-button-secondary uk-width-1-2">Otkaži</a>
	</div>
	<div class="uk-width-3-4"></div>
</form>
{% endblock naslov %}