{% extends "templates/app.twig" %}

{% block naslov %}
<style>
p {
  font-size: 1.2em;
}

@media print {
	
	p {
  font-size: 0.875em;
}
    .ne_stampaj {
        display: none !important;
    }
    a[href]:after {
    content: none !important;
  }
  .prikazi {
  	visibility: visible !important;
  }
}
</style>
<div class="uk-panel uk-background-muted uk-padding-small uk-margin-small ne_stampaj">
  <div class="uk-clearfix">
    <div class="uk-float-left">
      <div class="uk-button-group">
        <button onclick="window.history.back();" class="uk-button uk-button-primary uk-button-small">
          <span uk-icon="chevron-left"></span> Nazad
        </button>
      </div>
    </div>
  </div>
</div>
<h2 class="uk-text-center">JKP Šumadija</h2>
<h4 class="uk-text-center">FORMULAR ZA INTERNU UPOTREBU - ZAKAZIVANJE SAHRANE</h4>
<hr>
<p>PIO {{ raspored.pio == 1 ? '<span class="uk-margin-small-right" uk-icon="check"></span>' : '' }}</p>
<h3 class="uk-margin-medium-top uk-text-center">Podaci o pokojniku</h3>
<div uk-grid class="uk-margin-medium-top">
	<div class="uk-width-1-2">
		<p>Ime i prezime: {{ raspored.pokojnik().ime }} {{ raspored.pokojnik().prezime }}</p>
		<p>sa poslednjim prebivalištem: {{ raspored.pokojnik().prebivaliste }}</p>
		<p>Datum i mesto rođenja: {{ raspored.pokojnik().datum_rodjenja }}, {{ raspored.pokojnik().mesto }}</p>
		<p>Preminuo dana: {{ raspored.pokojnik().datum_smrti }}</p>
	</div>
	<div class="uk-width-1-2">
		<p>JMBG: {{ raspored.pokojnik().jmbg }}</p>
	</div>
</div>
<h3 class="uk-margin-medium-top uk-text-center">Podaci o prijaviocu sahrane</h3>
<div uk-grid>
	<div class="uk-width-1-1">
		<p>Neopozivo, pod punom krivičnom i materijalnom odgovornošću, izjavljujem da sam ovlašćen od strane porodice <u>  {{ raspored.ovlascen }}  </u>, da zakažem sahranu za pokojnika <u>  {{ raspored.pokojnik().ime }} {{ raspored.pokojnik().prezime }}  </u>. Sahranu prijavio <u>  {{ raspored.ime_prijavioca }} {{ raspored.prezime_prijavioca }}  </u>.</p>
	</div>
</div>
<br>
<div uk-grid>
	<div class="uk-width-1-1">
		<p>Troškove za celokupne pogrebne usluge JKP Šumadija Kragujevac, fakturisati na</p>
	</div>
</div>
<div uk-grid>
	<div class="uk-width-1-2">
		<p>Ime i prezime: {{ raspored.ime_troskovi }} {{ raspored.prezime_troskovi }}</p>
		<p>sa prebivalištem u {{ raspored.prebivaliste_troskovi }};</p>
		<p>br LK {{ raspored.broj_lk }};</p>
	</div>
	<div class="uk-width-1-2">
		<p>JMBG: {{ raspored.jmbg_troskovi }}</p>
		<p>brojevi telefona: {{ raspored.telefon }}</p>
		<p>MUP: {{ raspored.mup }}</p>
	</div>
</div>
<div uk-grid>
	<div class="uk-width-1-2">
		<p>Uplata će se izvršiti do: {{ raspored.uplata_do }};</p>
	</div>
</div>
<div uk-grid>
	<div class="uk-width-1-2">
		<p>Datum obavljanja sahrane: {{ raspored.start }};</p>
		<p>Na groblju: {{ raspored.karton().groblje.naziv }};</p>
	</div>
	<div class="uk-width-1-2">
		<p>Način: {{ raspored.pokojnik().dupla_raka == 1 ? 'Dupla raka,' : 'Obično,' }} <span class="uk-text-lowercase">{{raspored.karton().tip_groba}}</span></p>
		<p>Parcela i broj grobnog mesta: {{ raspored.karton().parcela }}/{{ raspored.karton().grobno_mesto }}</p>
	</div>
</div>
<div uk-grid class="uk-margin-small uk-margin-small-left">
<div class="uk-card uk-card-default uk-card-small uk-card-body uk-width-1-1">
    <p>Napomena:</p>
    <p>{{ raspored.napomena }}</p>
</div>
	<div class="uk-card uk-card-default uk-card-small uk-card-body uk-width-1-1">
    <p>Prevoz:</p>
    <p>{{ raspored.prevoz }}</p>
</div>
</div>
<div uk-grid>
	<div class="uk-width-1-2">
		<p>Datum prijave smrti: {{ raspored.datum_prijave }};</p>
	</div>
</div>
<div uk-grid class="prikazi" style="visibility: hidden;">
	<div class="uk-width-1-3">
		<h5>POTPIS STRANKE</h5>
		<br>
		<hr>
	</div>
	<div class="uk-width-1-3">

	</div>
	<div class="uk-width-1-3">
		<h5>OVLAŠĆENO LICE</h5>
		<br>
		<hr>
	</div>
</div>
<div uk-grid class="ne_stampaj">
	<div class="uk-button-group uk-width-1-4 uk-margin-medium-bottom">
		<button class="uk-button uk-button-primary uk-width-1-2" id="stampa" onclick="printajStranu()"><span uk-icon="print"></span> Štampaj</button>
		<a href="{{ path_for('raspored') }}" class="uk-button uk-button-secondary uk-width-1-2">Otkaži</a>
	</div>
	<div class="uk-width-3-4"></div>
</div>
{% endblock naslov %}
{% block skripta %}
	<script>
function printajStranu() {
  window.print();
}
</script>
{% endblock skripta %}
