{% extends "templates/app.twig" %} {% block naslov %}
<link href="{{ base_url() }}/css/fullcalendar.css" rel="stylesheet" />
<h1 class="uk-text-primary">
  Raspored termina
</h1>

<div class="uk-panel uk-background-muted uk-padding-small">
  <div class="uk-float-right">
      <a href="{{ path_for('raspored.dodavanje') }}" class="uk-button uk-button-primary uk-button-small">Zakazivanje termina</a>
      <a href="{{ path_for('raspored.tabela') }}" class="uk-button uk-button-default uk-button-small">Tabelarni pregled termina</a>
    </div>
  
</div>
<div class="uk-padding" id='calendar'></div>
{% endblock naslov %}
{% block skripta %}
<script src="{{base_url()}}/js/jquery.js"></script>
<script src="{{base_url()}}/js/moment.min.js"></script>
<script src="{{base_url()}}/js/fullcalendar.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
  $('#calendar').fullCalendar({
      defaultView: "month",
      weekends: true,
      height: 670,
      dayNames: [
        "nedelja",
        "ponedeljak",
        "utorak",
        "sreda",
        "četvrtak",
        "petak",
        "subota"
      ],
      dayNamesShort: [
        "ned",
        "pon",
        "uto",
        "sre",
        "čet",
        "pet",
        "sub"
      ],
      monthNames: [
        "januar",
        "februar",
        "mart",
        "april",
        "maj",
        "jun",
        "jul",
        "avgust",
        "septembar",
        "oktobar",
        "novembar",
        "decembar"
      ],
      monthNamesShort: [
        "januar",
        "februar",
        "mart",
        "april",
        "maj",
        "jun",
        "jul",
        "avgust",
        "septembar",
        "oktobar",
        "novembar",
        "decembar"
      ],
      events: JSON.parse(`{{ dogadjaji|raw }}`),
      eventClick: function(event, jsEvent, view) {
        var ruta = "{{ path_for('raspored.izmena', { id:'data_id' }) }}";
        var ruta_id = ruta.replace('data_id', event.id);
        console.log(ruta_id);
        window.location = ruta_id;
      },
      eventRender: function(event, element, view) {
        let title = element.find(".fc-title");
        const html = `
        <div class="uk-flex uk-flex-column">
          <div>
            ${event.start.format("HH:mm")} - ${event.end.format("HH:mm")}
          </div>
          <div>
            ${event.title}
          </div>
          <div>
          ${event.description}
          </div></div>`;
        title.html(html);
          },
      displayEventTime: false,
      showNonCurrentDates: false
      })
  });
</script>
{% endblock skripta %}