{% extends "templates/app.twig" %}

{% block naslov %}
<h1 class="uk-text-danger">
    Staraoci
    {% if data %}
    <small><em class="uk-text-warning">[filtrirano]</em></small>
    {% else %}
    <small><em class="uk-text-success">[svi staraoci]</em></small>
    {% endif %}

</h1>

<div class="uk-panel uk-background-muted uk-padding-small">
    <form action="{{ path_for('staraoci.pretraga') }}" method="POST">
        {{ csrf|raw }}
        <input type="text" name="jmbg" id="jmbg" class="uk-input uk-form-width-small uk-form-small"
            value="{{ data.jmbg }}" maxlength="13" autocomplete="off" placeholder="JMBG">
        <input type="text" name="prezime" id="prezime" class="uk-input uk-form-width-small uk-form-small"
            value="{{ data.prezime }}" autocomplete="off" placeholder="Prezime">
        <input type="text" name="ime" id="ime" class="uk-input uk-form-width-small uk-form-small" value="{{ data.ime }}"
            autocomplete="off" placeholder="Ime">
		<label><input class="uk-checkbox" type="checkbox" name="aktivan"{{ data.aktivan == 1 ? ' checked' : '' }}> Aktivan</label>
		<label><input class="uk-checkbox" type="checkbox" name="saldo"{{ data.saldo == 1 ? ' checked' : '' }}> Ima saldo</label>
        <div class="uk-button-group">
            <input type="submit" value="Filtriraj" class="uk-button uk-button-primary uk-button-small">
            <a href="{{ path_for('staraoci') }}" class="uk-button uk-button-secondary uk-button-small">Svi staraoci</a>
        </div>
    </form>
</div>

<div class="uk-overflow-auto">
    <table class="uk-table uk-table-divider uk-table-striped uk-table-hover uk-table-small">
        <thead>
            <tr>
                <th class="w-5 danger-bg">Id</th>
                <th class="w-10 danger-bg"><i class="fas fa-link"> Karton</th>
                <th class="w-5 danger-bg">RB</th>
                <th class="w-20 danger-bg">Ime</th>
                <th class="w-10 danger-bg">JMBG</th>
                <th class="w-25 danger-bg">Adresa</th>
                <th class="w-15 danger-bg">Telefon</th>
                <th class="w-5 danger-bg">Aktivan</th>
                <th class="w-10 uk-text-right"><span uk-icon="cog"></span></th>
            </tr>
        </thead>
        <tbody>
            {% for st in staraoci.data %}
            {% if st.imaSaldo() %}
              {% set cls = "uk-text-danger" %}
            {% else %}
                {% set cls = "" %}
            {% endif %}
            <tr class="{{ cls }}">
                <td><em>{{ st.id }}</em></td>
                <td>
                    <a href="{{ path_for('kartoni.pregled', { 'id': st.karton_id }) }}" class="{{ cls }}">
                        <strong>{{ st.karton.broj() }}</strong>
                    </a>
                </td>
                <td>{{ st.redni_broj }}</td>
                <td>{{ st.punoIme() }}</td>
                <td>{{ st.jmbg }}</td>
                <td>{{ st.adresa() }}</td>
                <td>{{ st.telefon }}</td>
                <td>{{ st.aktivanDisabled()|raw }}</td>
                <td class="uk-clearfix">
                    <ul class="uk-iconnav uk-float-right">
                        <li>
                            <a href="{{ path_for('staraoci.pregled',{id:st.id}) }}" title="Pregled">
                            <span uk-icon="search"></span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path_for('transakcije.pregled', { id: st.id }) }}"
                                title="Transakcije"><span uk-icon="credit-card"></span></a>
                        </li>
                    </ul>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="uk-flex uk-flex-between uk-margin-top">
    <div>{{ staraoci.links.buttons|raw }}</div>
    <div>Idi na stranu {{ staraoci.links.select|raw }}</div>
    <div class="uk-text-right">
        <p>
            Prikazani redovi od
            <em>{{ staraoci.links.row_from }}</em> do
            <em>{{ staraoci.links.row_to }}</em> od ukupno
            <em>{{ staraoci.links.total_rows }}</em>
        </p>
    </div>
</div>
{% endblock naslov %}
