{% extends "templates/app.twig" %}

{% block sadrzaj %}
<h1 class="uk-text-danger">
    Transakcije za karton <small><em class="uk-text-primary">[{{ karton.broj() }}]</em></small>
</h1>
<div class="uk-panel uk-background-muted uk-padding-small">
    <div class="uk-clearfix">
        <div class="uk-float-left">
            <div class="uk-button-group">
                <button onclick="window.history.back();" class="uk-button uk-button-primary uk-button-small">
                    <span uk-icon="chevron-left"></span> Nazad
                </button>
                <a href="{{ path_for('kartoni.pregled', { 'id': karton.id }) }}"
                    class="uk-button uk-button-primary uk-button-small">
                    <span uk-icon="chevron-double-left"></span> Otvori karton
                </a>
            </div>
        </div>
        <div class="uk-float-right">
            <div class="uk-button-group">
                <button class="uk-button uk-button-default uk-button-small">
                    <span uk-icon="minus-circle"></span> Nerazdužena zaduženja
                </button>
                <button class="uk-button uk-button-default uk-button-small" href="#modal-brisanje">
                    <span uk-icon="plus-circle"></span> Sva zaduženja
                </button>
            </div>
            <div class="uk-button-group">
                <a href="{{ path_for('kartoni.izmena', { 'id': karton.id }) }}"
                    class="uk-button uk-button-secondary uk-button-small">
                    <span uk-icon="pencil"></span> Izmeni karton
                </a>
                <a class="uk-button uk-button-danger uk-button-small" href="#modal-brisanje" uk-toggle>
                    <span uk-icon="trash"></span> Obriši karton
                </a>
                <a href="{{ path_for('kartoni.mapa', { 'id': karton.id }) }}"
                    class="uk-button uk-button-primary uk-button-small">
                    <span uk-icon="location"></span> Mapa
                </a>
            </div>
        </div>
    </div>
</div>

<h2>
    Takse
    <em class="uk-text-success">[{{ (0) | number_format(2, '.', ',') }}]</em>
</h2>
<p>Tabela sa zaduzenjima za takse.</p>

<h2>
    Zakup
    <em class="uk-text-danger">[{{ (-9000) | number_format(2, '.', ',') }}]</em>
</h2>
<p>Tabela sa zaduzenjima za zakup.</p>

<h2>
    Računi
    <em class="uk-text-danger">[{{ (-800.32) | number_format(2, '.', ',') }}]</em>
</h2>
<p>Tabela sa zaduzenjima za racune.</p>
<h2>
    Reprogram
    <em class="uk-text-success">[{{ (0) | number_format(2, '.', ',') }}]</em>
</h2>
<p>Tabela sa zaduzenjima za reprogram.</p>
{% endblock sadrzaj %}

{% block traka %}
<div uk-grid>
    <div class="uk-width-1-2">
        <h2 class="uk-text-right">Saldo kartona</h2>
        <div class="uk-panel uk-background-muted uk-padding-small uk-text-large uk-text-bold uk-text-right">
            <h1 class="uk-text-success">{{ (0) | number_format(2, '.', ',') }}</h1>
        </div>
    </div>
    <div class="uk-width-1-2">
        <h2 class="uk-text-right">Ukupan dug</h2>
        <div class="uk-panel uk-background-muted uk-padding-small uk-text-large uk-text-bold uk-text-right">
            <h1 class="uk-text-danger">{{ (9800.32) | number_format(2, '.', ',') }}</h1>
        </div>
    </div>
</div>

<h2 class="uk-text-right">Iznos razduženja</h2>
<div class="uk-panel uk-background-muted uk-padding-small uk-text-large uk-text-bold uk-text-right">
    <h1 class="uk-text-primary">{{ (5056.22) | number_format(2, '.', ',') }}</h1>
</div>

<h2>Uplata</h2>
<form action="" method="POST" class="uk-form-stacked" uk-grid>
    {{ csrf | raw }}
    <div class="uk-width-1-2">
        <label for="uplata-iznos" class="uk-form-label">Iznos</label>
        <div class="uk-form-controls">
            <input type="number" name="uplata-iznos" id="uplata-iznos" value="0" min="0" step="0.01"
                class="uk-input uk-text-right" autocomplete="off" required>
        </div>
        <small class="uk-text-danger">{{ errors.opis[0] ? :'' }}</small>
    </div>
    <div class="uk-width-1-2">
        <label for="uplata-datum" class="uk-form-label">Datum</label>
        <div class="uk-form-controls">
            <input type="date" name="uplata-datum" id="uplata-datum" value="{{ 'now'|date('Y-m-d') }}" class="uk-input"
                autocomplete="off" required>
        </div>
        <small class=" uk-text-danger">{{ errors.datum[0] ? : '' }}</small>
    </div>
    <div class="uk-width-1-2">
        <label for="razduzenje-iznos" class="uk-form-label">Iznos razduženja</label>
        <div class="uk-form-controls">
            <input type="number" name="razduzenje-iznos" id="razduzenje-iznos" value="0" min="0" step="0.01"
                class="uk-input uk-text-right" autocomplete="off" required readonly disabled>
        </div>
        <small class="uk-text-danger">{{ errors.opis[0] ? :'' }}</small>
    </div>
    <div class="uk-width-1-2 uk-flex uk-flex-bottom">
        <div class="uk-button-group uk-width-1-1">
            <input type="submit" value="Snimi uplatu" class="uk-button uk-button-primary uk-button-small uk-width-1-2">
            <input type="reset" value="Otkaži" class="uk-button uk-button-secondary uk-button-small uk-width-1-2">
        </div>
    </div>
</form>



<h2>Opis</h2>
<p>
    Iznos razduženja se računa sabiranjem stavki koje se razdužuju iz tabela sa leve strane.
</p>
<p>
    Kada se snimi uplata proveri se da li je iznos uplate i salda kartona veći ili jednak iznosu razduženja. Ako su
    iznosi isti razduže se izabrana zaduženja, a ako je iznos uplate veći višak se prebacuje na saldo kartona.
</p>
{% endblock traka %}

{% block skripta %}
<script>
    
</script>
{% endblock skripta %}
