{% extends "templates/app.twig" %}
{% block sadrzaj %}
<style>
  .ikonica {
    position: relative;
    top: -2px;
  }
</style>
<h1 class="uk-text-danger">
  Pregled zaduženja za karton
  <small><em class="uk-text-primary">[{{ karton.broj() }}]</em></small>
</h1>
<div class="uk-panel uk-background-muted uk-padding-small">
  <div class="uk-clearfix">
    <div class="uk-float-left">
      <div class="uk-button-group">
        <button onclick="window.history.back();" class="uk-button uk-button-primary uk-button-small">
          <span uk-icon="chevron-left"></span> Nazad
        </button>
        <a href="{{ path_for('kartoni.pregled', { id: karton.id }) }}"
          class="uk-button uk-button-primary uk-button-small">
          <span uk-icon="chevron-double-left"></span> Otvori karton
        </a>
      </div>
    </div>
    <div class="uk-float-right">
      <div class="uk-button-group">
        <button class="uk-button uk-button-primary uk-button-small">Zaduživanje</button>
        <div class="uk-inline">
          <button class="uk-button uk-button-primary uk-button-small" type="button"><span
              uk-icon="icon:  triangle-down"></span></button>
          <div uk-dropdown="mode: click; boundary: ! .uk-button-group; boundary-align: true;">
            <ul class="uk-nav uk-dropdown-nav">
              <li>
                <a href="{{ path_for('taksa', { id: karton.id }) }}">
                  <span uk-icon="bookmark"></span>&emsp;Zaduži taksu
                </a>
              </li>
              <li><a href="{{ path_for('zakup', { id: karton.id }) }}">
                  <span uk-icon="bookmark"></span>&emsp;Zaduži zakup
                </a>
              </li>
              <li><a href="{{ path_for('racun', { id: karton.id }) }}">
                  <span uk-icon="bookmark"></span>&emsp;Zaduži račun
                </a>
              </li>
            </ul>
          </div>
        </div>
        <a href="{{ path_for('transakcije.razduzivanje', { id: karton.id }) }}"
          class="uk-button uk-button-secondary uk-button-small">
          <span uk-icon="database" class="ikonica"></span> Razduživanje
        </a>
        <a href="{{ path_for('uplate', { id: karton.id }) }}" class="uk-button uk-button-default uk-button-small">
          <span class="uk-badge">{{broj_uplate}}</span> Pregled uplata
        </a>
        <a href="{{ path_for('transakcije.reprogrami', { id: karton.id }) }}"
          class="uk-button uk-button-danger uk-button-small">
          <span uk-icon="refresh" class="ikonica"></span> Reprogrami
        </a>
        <a href="{{ path_for('transakcije.pregled.stampa', { id: karton.id }) }}" target="_blank"
          class="uk-button uk-button-primary uk-button-small">
          <span uk-icon="print" class="ikonica"></span> Štampa
        </a>
      </div>
    </div>
  </div>
</div>

<div class="uk-width-1-1 uk-margin-top">
  <ul uk-accordion="multiple: true">
    <li>
      <a class="uk-accordion-title" href="#">
        <h2>
          Takse
          <em class="uk-text-success">[{{ karton.takse()|length }}]</em>
          <em class="uk-text-danger">[{{ karton.nerazduzeneTakse()|length }}]</em>
        </h2>
      </a>
      <div class="uk-accordion-content">
        <hr>
        <div class="uk-overflow-auto">
          <table class="uk-table uk-table-divider uk-table-striped uk-table-hover uk-table-small">
            <thead>
              <tr>
                <th class="w-15">Godina</th>
                <th class="w-20 uk-text-right">Iznos</th>
                <th class="w-20 uk-text-right">Za razduženje</th>
                <th class="w-15 uk-text-center">Razduženo</th>
                <th class="w-20">Reprogram</th>
                <th class="w-10 uk-text-right"><span uk-icon="cog"></span></th>
              </tr>
            </thead>
            <tbody>
              {% for taksa in karton.takse() %}
              {% if taksa.razduzeno == 0  %}
              {% set cls = "uk-text-danger" %}
              {% endif %}
              {% if taksa.razduzeno == 1  %}
              {% set cls = "uk-text-success" %}
              {% endif %}
              {% if taksa.reprogram_id %}
              {% set cls = "uk-text-primary" %}
              {% endif %}
              <tr class="{{ cls }}">
                <td>{{ taksa.godina }}</td>
                <td class="uk-text-right">
                  {{ taksa.iznos|number_format(2, '.', ',') }}
                </td>
                <td class="uk-text-right">
                  {{ (cena_takse * karton.broj_mesta)|number_format(2, '.', ',') }}
                </td>
                <td class="uk-text-center">{{ taksa.razduzenoDisabled() | raw }}</td>
                <td>
                  {% if taksa.reprogram_id %}
                  <span uk-icon="refresh"></span> {{ taksa.reprogramLbl(taksa.reprogram_id)|raw }}
                  {% endif %}
                </td>
                <td class="uk-text-right">
                  <a title="Brisanje" href="#modal-brisanje" data-id="{{ taksa.id }}" onclick="setZaduzenjeId(this);"
                    uk-toggle>
                    <span uk-icon="trash"></span>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="#">
        <h2>
          Zakup
          <em class="uk-text-success">[{{ karton.zakupi()|length }}]</em>
          <em class="uk-text-danger">[{{ karton.nerazduzeniZakupi()|length }}]</em>
        </h2>
      </a>
      <div class="uk-accordion-content">
        <hr>
        <div class="uk-overflow-auto">
          <table class="uk-table uk-table-divider uk-table-striped uk-table-hover uk-table-small">
            <thead>
              <tr>
                <th class="w-15">Godina</th>
                <th class="w-20 uk-text-right">Iznos</th>
                <th class="w-20 uk-text-right">Za razduženje</th>
                <th class="w-15 uk-text-center">Razduženo</th>
                <th class="w-20">Reprogram</th>
                <th class="w-10 uk-text-right"><span uk-icon="cog"></span></th>
              </tr>
            </thead>
            <tbody>
              {% for zakup in karton.zakupi() %}
              {% if zakup.razduzeno == 0  %}
              {% set cls = "uk-text-danger" %}
              {% endif %}
              {% if zakup.razduzeno == 1  %}
              {% set cls = "uk-text-success" %}
              {% endif %}
              {% if zakup.reprogram_id %}
              {% set cls = "uk-text-primary" %}
              {% endif %}
              <tr class="{{ cls }}">
                <td>{{ zakup.godina }}</td>
                <td class="uk-text-right">
                  {{ zakup.iznos|number_format(2, '.', ',') }}
                </td>
                <td class="uk-text-right">
                  {{ (cena_zakupa * karton.broj_mesta)|number_format(2, '.', ',') }}
                </td>
                <td class="uk-text-center">{{ zakup.razduzenoDisabled() | raw }}</td>
                <td>
                  {% if zakup.reprogram_id %}
                  <span uk-icon="refresh"></span> {{ zakup.reprogramLbl(zakup.reprogram_id)|raw }}
                  {% endif %}
                </td>
                <td class="uk-text-right">
                  <a title="Brisanje" href="#modal-brisanje" data-id="{{ zakup.id }}" onclick="setZaduzenjeId(this);"
                    uk-toggle>
                    <span uk-icon="trash"></span>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="#">
        <h2>
          Računi
          <em class="uk-text-success">[{{ karton.racuni()|length }}]</em>
          <em class="uk-text-danger">[{{ karton.nerazduzeniRacuni()|length }}]</em>
        </h2>
      </a>
      <div class="uk-accordion-content">
        <hr>
        <div class="uk-overflow-auto">
          <table class="uk-table uk-table-divider uk-table-striped uk-table-hover uk-table-small">
            <thead>
              <tr>
                <th class="w-20">Broj</th>
                <th class="w-10">Datum</th>
                <th class="w-20 uk-text-right">Iznos</th>
                <th class="w-20 uk-text-center">Razduženo</th>
                <th class="w-20">Reprogram</th>
                <th class="w-10 uk-text-right"><span uk-icon="cog"></span></th>
              </tr>
            </thead>
            <tbody>
              {% for rn in karton.racuni() %}
              {% if rn.razduzeno == 0  %}
              {% set cls = "uk-text-danger" %}
              {% endif %}
              {% if rn.razduzeno == 1  %}
              {% set cls = "uk-text-success" %}
              {% endif %}
              {% if rn.reprogram_id %}
              {% set cls = "uk-text-primary" %}
              {% endif %}
              <tr class="{{ cls }}">
                <td>{{ rn.broj }}</td>
                <td>{{ rn.datum() }}</td>
                <td class="uk-text-right">
                  {{ rn.iznos|number_format(2, '.', ',') }}
                </td>
                <td class="uk-text-center">{{ rn.razduzenoDisabled() | raw }}</td>
                <td>
                  {% if rn.reprogram_id %}
                  <span uk-icon="refresh"></span> {{ rn.reprogramLbl(rn.reprogram_id)|raw }}
                  {% endif %}
                </td>
                <td class="uk-text-right">
                  <a title="Brisanje" href="#modal-brisanje-racuna" data-id="{{ rn.id }}" onclick="setRacunId(this);"
                    uk-toggle>
                    <span uk-icon="trash"></span>
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </li>
    <li>
      <a class="uk-accordion-title" href="#">
        <h2>
          Reprogrami
          <em class="uk-text-success">[{{ karton.reprogrami()|length }}]</em>
          <em class="uk-text-danger">[{{ karton.nerazduzeniReprogrami()|length }}]</em>
        </h2>
      </a>
      <div class="uk-accordion-content">
        <hr>
        <div class="uk-overflow-auto">
          <table class="uk-table uk-table-divider uk-table-striped uk-table-hover uk-table-small">
            <thead>
              <tr>
                <th class="w-20">Broj</th>
                <th class="w-15 uk-text-right">Datum</th>
                <th class="w-15 uk-text-right">Iznos</th>
                <th class="w-20 uk-text-right">Peroid</th>
                <th class="w-20 uk-text-right">Preostalo rata</th>
                <th class="w-10 uk-text-center">Razduženo</th>
              </tr>
            </thead>
            <tbody>
              {% for rep in karton.reprogrami() %}
              {% set cls = "" %}
              {% if rep.razduzeno == 0  %}
              {% set cls = "uk-text-danger" %}
              {% endif %}
              {% if rep.razduzeno == 1  %}
              {% set cls = "uk-text-success" %}
              {% endif %}
              <tr class="{{ cls }}">
                <td>{{ rep.broj }}</td>
                <td class="uk-text-right">{{ rep.datum() }}</td>
                <td class="uk-text-right">
                  {{ rep.iznos|number_format(2, '.', ',') }}
                </td>
                <td class="uk-text-right">
                  {{ rep.period }}
                </td>
                <td class="uk-text-right">
                  {{ rep.preostalo_rata }}
                </td>
                <td class="uk-text-center">{{ rep.razduzenoDisabled() | raw }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </li>
  </ul>
</div>
<!-- MODAL BRISANJE ZADUŽENJA -->
{% include 'inc/zaduzenje_brisanje.twig' %}
<!-- MODAL BRISANJE RAČUNA -->
{% include 'inc/racun_brisanje.twig' %}
{% endblock sadrzaj %}

{% block traka %}
<div uk-grid>
  <div class="uk-width-1-2">
    <h2 class="uk-text-right">Saldo kartona</h2>
    <div class="uk-panel uk-background-muted uk-padding-small uk-text-large uk-text-bold uk-text-right">
      <h1 class="uk-text-success" id="saldo">
        {{ karton.saldo | number_format(2, '.', ',') }}
      </h1>
    </div>
  </div>
  <div class="uk-width-1-2">
    <h2 class="uk-text-right">Ukupan dug</h2>
    <div class="uk-panel uk-background-muted uk-padding-small uk-text-large uk-text-bold uk-text-right">
      <h1 class="uk-text-danger" id="ukupan-dug">
        {% set dug = karton.dugZaTakse() + karton.dugZaZakupe() + karton.dugZaRacune() + karton.dugZaReprograme() %}
        {{ dug | number_format(2, '.', ',') }}
      </h1>
    </div>
  </div>
  <div class="uk-width-1-2">
    <h3>Dug za takse</h3>
  </div>
  <div class="uk-width-1-2">
    <div class="uk-panel uk-background-muted uk-text-large uk-text-bold uk-text-right">
      <h3 class="uk-text-danger" id="takse-dug">
        {{ karton.dugZaTakse() | number_format(2, '.', ',') }}
      </h3>
    </div>
  </div>
  <div class="uk-width-1-2">
    <h3>Dug za zakup</h3>
  </div>
  <div class="uk-width-1-2">
    <div class="uk-panel uk-background-muted uk-text-large uk-text-bold uk-text-right">
      <h3 class="uk-text-danger" id="takse-dug">
        {{ karton.dugZaZakupe() | number_format(2, '.', ',') }}
      </h3>
    </div>
  </div>
  <div class="uk-width-1-2">
    <h3>Dug za račune</h3>
  </div>
  <div class="uk-width-1-2">
    <div class="uk-panel uk-background-muted uk-text-large uk-text-bold uk-text-right">
      <h3 class="uk-text-danger" id="takse-dug">
        {{ karton.dugZaRacune() | number_format(2, '.', ',') }}
      </h3>
    </div>
  </div>
  <div class="uk-width-1-2">
    <h3>Dug za reprograme</h3>
  </div>
  <div class="uk-width-1-2">
    <div class="uk-panel uk-background-muted uk-text-large uk-text-bold uk-text-right">
      <h3 class="uk-text-danger" id="takse-dug">
        {{ karton.dugZaReprograme() | number_format(2, '.', ',') }}
      </h3>
    </div>
  </div>
</div>
{% endblock traka %}

{% block skripta %}
<script>
  document.getElementById("modal_dugme_brisi_racun").addEventListener("click", function () {
    document.getElementById("forma_brisanje_racuna").submit();
  });

  function setRacunId(el) {
    document.getElementById("modal_racun_id").value = el.dataset.id;
  }

  document.getElementById("modal_dugme_brisi").addEventListener("click", function () {
    document.getElementById("forma_brisanje").submit();
  });

  function setZaduzenjeId(el) {
    document.getElementById("modal_zaduzenje_id").value = el.dataset.id;
  }
</script>
{% endblock skripta %}
