{% extends "templates/app.twig" %}

{% block naslov %}
	<h1>Zaduživanje kartona</h1>
	<hr>
	<div
		class="uk-panel uk-background-muted uk-padding-small uk-margin">
		<p
			class="uk-text-danger">
			Pre zaduživanja kartona obavezno proveriti aktuelni cenovnik. Na ovoj formi može se samo izmeniti godina, a cene se preuzimaju
								iz aktuelnog cenovnika. Godina može biti samo prethodna, tekuća ili naredna.
		</p>
		<p
			class="uk-text-danger">
			Ova operacija, u zavisnosti od broja kartona, može potrajati nekoliko minuta!
		</p>
	</div>
	<form
		action="{{ path_for('transakcije.zaduzivanje.post') }}" method="POST"
		class="uk-form-stacked"
		uk-grid>
		{{ csrf|raw }}
		<div
			class="uk-width-1-6">
			<label
				for="taksa"
				class="uk-form-label">Iznos takse iz cenovnika</label>
			<div
				class="uk-form-controls">
				<input
					type="number"
					name="taksa"
					id="taksa"
					class="uk-input{{ errors.taksa[0] ? ' uk-form-danger': ''}}"
					value="{{ taksa }}">
			</div>
		</div>
		<div
			class="uk-width-1-6">
			<label
				for="zakup"
				class="uk-form-label">Iznos zakupa iz cenovnika</label>
			<div
				class="uk-form-controls">
				<input
					type="number"
					name="zakup"
					id="zakup"
					class="uk-input{{ errors.zakup[0] ? ' uk-form-danger': ''}}"
					value="{{ zakup }}">
			</div>
		</div>
		<div
			class="uk-width-1-6">
			<label
				for="godina"
				class="uk-form-label">Godina za koju se zadužuju kartoni</label>
			<div
				class="uk-form-controls">
				<input
					type="number"
					name="godina"
					id="godina"
					class="uk-input{{ errors.godina[0] ? ' uk-form-danger': ''}}"
					value="{{ trenutna_godina-1 }}"
					min="{{ trenutna_godina-1 }}"
					max="{{ trenutna_godina }}">
			</div>
		</div>

		<div
			class="uk-width-1-6">
			<label
				for="datum_zaduzenja"
				class="uk-form-label">Datum zaduženja</label>
			<div
				class="uk-form-controls">
				<input
					type="date"
					name="datum_zaduzenja"
					id="datum_zaduzenja"
					value="{{ 'now'|date('Y-m-d') }}" class="uk-input"
					autocomplete="off"
					required>
			</div>
			<small
				class=" uk-text-danger">{{ errors.datum_zaduzenja[0] ? : '' }}</small>
		</div>

		{# dodati dane iz podesavanja #}
		<div
			class="uk-width-1-6">
			<label
				for="datum_prispeca"
				class="uk-form-label">Datum prispeća</label>
			<div
				class="uk-form-controls">
				<input
					type="date"
					name="datum_prispeca"
					id="datum_prispeca"
					value="{{ 'now'|date_modify("+45 day")|date('Y-m-d') }}" class="uk-input"
					autocomplete="off"
					required>
			</div>
			<small
				class=" uk-text-danger">{{ errors.datum_prispeca[0] ? : '' }}</small>
		</div>

		<div
			class="uk-width-1-6 uk-flex uk-flex-bottom">
			<div
				class="uk-button-group uk-width-1-1">
				<button
					class="uk-button uk-button-primary uk-width-1-2">Zaduži</button>
				<a
					href="{{ path_for('kartoni') }}" class="uk-button uk-button-secondary uk-width-1-2">Otkaži</a>
			</div>
		</div>
	</form>

	{# ovde napraviti neki ajax kad se menja godina zaduzenja #}
	<div
		class="uk-panel uk-background-muted uk-padding-small uk-margin">
		<h1
			class="{{ zaduzena_godina ? 'uk-text-danger': 'uk-text-success'}}">{{ upozorenje }}</h1>
	</div>
{% endblock naslov %}
